HELLO MOTHERFUCKER <%= username %>

<% for (let i = 0; i < hackSubmissions.length; i++) { %>
    <a href="/admin/submissions/<%= hackSubmissions[0].id %>"><%= hackSubmissions[i].username %></a>
<% } %>
