<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
  <div class="svg">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="510" height="192" viewBox="0 0 510 192" fill="none">
        <path d="M0.999969 1H445.25L341.25 191H0.999969V1Z" fill="url(#pattern0)"/>
        <path d="M370.979 191L474.979 1H509L405 191H370.979Z" fill="#FF0000"/>
        <path d="M0.999969 1H445.25L341.25 191H0.999969V1Z" stroke="#FF0000" stroke-width="0.805611"/>
        <path d="M370.979 191L474.979 1H509L405 191H370.979Z" stroke="#FF0000" stroke-width="0.805611"/>
        <defs>
          <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0_179_84" transform="matrix(0.000520833 0 0 0.00139254 0 -0.251974)"/>
          </pattern>
        </defs>
      </svg>
      <img id="image0_179_84" src="/bg.png">
  </div>
    </body>
    <style>
      .svg {
        position: relative;
        display: flex;
        align-items: start;
        justify-content: center;
      }
      img {
        position: absolute;
        width: 30vw;
        z-index: -2;
      }
    </style>
</html>

<% for (let i = 0; i < hackSubmissions.length; i++) { %>
    <a href="/admin/submissions/<%= hackSubmissions[0].id %>"><%= hackSubmissions[i].teamName %></a>
<% } %>
