<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQS</title>
    <style>
        body {
        height: auto;
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(#000615, #190000);
        overflow-x: hidden;
        background-size: contain;
        display: flex;
        flex-direction: column;
    }
    @font-face 
    {
        font-family:BlenderProBook;
        font-style:normal;
        font-weight:400;
        src:url('../BlenderProBook.woff2') format("woff2");
    }
    @font-face 
    {
        font-family:BlenderProHeavy;
        font-style:normal;
        font-weight:700;
        src:url('/BlenderPro-Heavy.woff2') format("woff2");
    }
    @font-face 
    {
        font-family:sentex;
        font-style:normal;
        font-weight:400;
        src:url('./Sentex-Regular.ttf');
    }
    .bottom-vector {
        position: relative;
        bottom: -1vw;
        align-self: end;
        right: 2vw;
        width: 55vw;
    }
    .heading {
        display: flex;
        flex-direction: column;
        width: 40vw;
        margin: 0px auto;
    }
    .questions {
        display: flex;
        flex-direction: column;
        width: 60vw;
        margin: 0px auto;
    }
    .questionContainer {
        margin-top: 2vh;
    }
    .question {
        position: relative;
        width: 100%;
    }
    .questionRect {
        background-color: white;
        clip-path: polygon(0% 0%, 5% 100%, 100% 100%, 100% 0%);
        font-size: 1.2em;
        font-family: BlenderProBook;
        color: white;
        padding: 1px;
        padding-left: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .questionRectKaBeta {
        background-color: #07040f;
        clip-path: polygon(0% 0%, 4.9% 100%, 100% 100%, 100% 0%);
        padding: 0.7vw;
        padding-left: 3vw;
        width: 100%;
    }
    .questionRectKaBeta p {
        margin: 0px;
    }
    .questionWeirdVector {
        position: absolute;
        left: 0;
        bottom: 0;
        background: white;
        font-family: BlenderProBook;
        width: calc(3vw - 0.3vw);
        padding: 0.6vw 0;
        font-size: 1.2em;
        color: transparent;
        clip-path: polygon(0 0, 0 17%, 83% 100%, 100% 100%)
    }
    .answer {
        width: 50vw;
        margin-left: 7vw;
        clip-path: polygon(0% 0%, 0% 80%, 5% 100%, 100% 100%, 100% 0);
        padding: 1px;
        background-color: white;
        transform: scale(1, 0);
        transform-origin: 0% 0%;
        height: 0px;
        transition: 0.3s;
        z-index: -1;
    }
    .answerKaBeta {
        background-color: #07040f;
        clip-path: polygon(0% 0%, 0% 80%, 5% 100%, 100% 100%, 100% 0);
        color: white;
        padding: 1vw;
        padding-left: 1.5vw;
        font-family: BlenderProBook;
        font-size: 1.1em;
    }
    .sideIcon {
        position: absolute;
        right: 10px;
        top: 50%;
        font-family: sans-serif;
        line-height: 0;
        cursor: pointer;
        transition: 0.2s;
    }
    .sideIcon:hover {
        transform: scale(1.3, 1.3);
    }
    .answer a {
        color: dodgerblue;
        text-decoration: none;
    }
    .answer a:hover {
        text-decoration: underline;
    }
    </style>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="heading">
        <svg xmlns="http://www.w3.org/2000/svg" style="width: 10vw; align-self: flex-end; margin: 10px 0;" viewBox="0 0 203 45" fill="none">
            <path d="M203 45H54.8397L99.7736 0H203V45Z" fill="white"/>
            <path d="M88.0341 0L43.1002 45H23.2645L68.1984 0H88.0341Z" fill="white"/>
            <path d="M57.0782 0L12.1443 45H0L44.9339 0H57.0782Z" fill="white"/>
        </svg>
        <svg style="width: 40vw;" viewBox="0 0 799 120" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 44.5V119H798V1H40.5L0.5 44.5Z" fill="#08040F" stroke="#FF0000"/>
            <path d="M125.994 26.4659H116.488V31.7825H125.361V35.3034H116.488V44H112.791V22.945H125.994V26.4659ZM133.886 44H130.189V22.945H133.886V44ZM153.85 44H149.942L142.654 30.022V44H138.957V22.945H142.936L150.154 37.099V22.945H153.85V44ZM173.827 38.8947C173.827 39.7162 173.651 40.3852 173.299 40.9016C173.065 41.2302 172.666 41.6762 172.102 42.2395C171.539 42.7794 171.069 43.155 170.694 43.3662C169.943 43.7887 169.239 44 168.581 44H158.934V22.945H168.581C169.403 22.945 170.119 23.1445 170.729 23.5435C171.081 23.7548 171.527 24.1421 172.067 24.7054C172.607 25.2688 173.006 25.7382 173.264 26.1138C173.64 26.6302 173.827 27.2992 173.827 28.1207V38.8947ZM162.631 40.4791H168.335C168.476 40.4791 168.558 40.4674 168.581 40.4439C168.863 40.2796 169.192 40.0214 169.567 39.6693C169.943 39.2937 170.131 39.0121 170.131 38.8243V28.2264C170.131 28.1559 170.119 28.0973 170.095 28.0503C169.649 27.3227 169.133 26.8063 168.546 26.5011C168.523 26.4776 168.417 26.4659 168.229 26.4659H162.631V40.4791ZM203.643 44H199.7L198.151 39.5285H190.158L188.609 44H184.666L192.024 22.945H196.32L203.643 44ZM196.989 36.0075L194.172 27.6982L191.32 36.0075H196.989ZM221.277 44H217.369L210.081 30.022V44H206.384V22.945H210.362L217.58 37.099V22.945H221.277V44ZM251.231 44H247.287L245.738 39.5285H237.746L236.196 44H232.253L239.612 22.945H243.907L251.231 44ZM244.576 36.0075L241.759 27.6982L238.908 36.0075H244.576ZM268.864 44H264.956L257.668 30.022V44H253.971V22.945H257.95L265.167 37.099V22.945H268.864V44ZM289.51 39.0003C289.51 39.8219 289.323 40.4908 288.947 41.0072C288.712 41.3593 288.313 41.8288 287.75 42.4156C287.187 42.9789 286.729 43.3545 286.377 43.5423C285.626 43.9648 284.898 44.176 284.194 44.176H278.067C276.542 44.176 275.051 43.2019 273.596 41.2537C273.455 41.0659 273.244 40.7021 272.962 40.1622L276.448 39.0003C276.917 39.6576 277.434 40.1974 277.997 40.6199C278.044 40.6434 278.126 40.6551 278.243 40.6551H284.018L284.229 40.6199C284.487 40.4791 284.816 40.2092 285.215 39.8101C285.614 39.4111 285.813 39.1412 285.813 39.0003V36.923C285.813 36.5709 285.673 36.3714 285.391 36.3244L276.237 33.719C275.368 33.4842 274.687 33.003 274.194 32.2754C273.725 31.5477 273.49 30.7497 273.49 29.8812V27.9799C273.49 27.1583 273.666 26.4894 274.018 25.973C274.253 25.6444 274.652 25.1984 275.215 24.635C275.802 24.0482 276.272 23.6492 276.624 23.4379C277.375 23.0154 278.103 22.8042 278.807 22.8042H284.018C285.52 22.8042 287.011 23.7783 288.489 25.7265C288.724 26.0551 288.959 26.4659 289.193 26.9588L285.637 27.9799C285.097 27.2053 284.581 26.6654 284.088 26.3603C284.065 26.3368 283.994 26.3251 283.877 26.3251H278.912L278.701 26.3603C278.42 26.5011 278.091 26.7593 277.715 27.1349C277.363 27.5104 277.187 27.7686 277.187 27.9095V29.6699C277.187 30.022 277.316 30.2215 277.574 30.2685L286.764 32.9444C287.609 33.1791 288.278 33.672 288.771 34.4231C289.264 35.1508 289.51 35.9371 289.51 36.7821V39.0003ZM317.23 22.945L312.336 44H308.146L304.766 29.8812L301.351 44H297.126L292.302 22.945H296.105L299.273 37.7328L302.759 22.945H306.703L310.188 37.7328L313.322 22.945H317.23ZM333.295 44H320.057V22.945H333.295V26.4659H323.754V31.7825H332.626V35.3034H323.754V40.4791H333.295V44ZM353.14 30.9022C353.14 31.7003 352.929 32.4162 352.506 33.05C352.342 33.2847 352.048 33.6133 351.626 34.0358C351.203 34.4349 350.863 34.7283 350.605 34.9161C350.3 35.1508 349.995 35.3151 349.689 35.409L353.879 44H349.865L345.957 35.6907H341.908V44H338.211V22.945H348.105C349.044 22.945 349.877 23.2032 350.605 23.7196C350.84 23.8839 351.168 24.189 351.591 24.635C352.037 25.081 352.342 25.4214 352.506 25.6561C352.929 26.2899 353.14 27.0058 353.14 27.8038V30.9022ZM349.443 30.867V27.8391C349.443 27.7217 349.431 27.6395 349.408 27.5926C349.009 26.8884 348.633 26.5128 348.281 26.4659H341.908V32.1698H348.105C348.269 32.1698 348.492 32.0407 348.774 31.7825C349.056 31.5243 349.267 31.2661 349.408 31.0079C349.431 30.9609 349.443 30.914 349.443 30.867ZM380.865 26.4659H375.162V44H371.465V26.4659H365.761V22.945H380.865V26.4659ZM400.65 39.0003C400.65 39.7749 400.462 40.4439 400.086 41.0072C399.805 41.3828 399.382 41.8522 398.819 42.4156C398.279 42.9789 397.845 43.3545 397.516 43.5423C396.835 43.9648 396.108 44.176 395.333 44.176H389.981C389.207 44.176 388.479 43.9648 387.798 43.5423C387.47 43.3545 387.012 42.9789 386.425 42.4156C385.862 41.8288 385.463 41.3593 385.228 41.0072C384.852 40.4439 384.665 39.7749 384.665 39.0003V27.9799C384.665 27.2053 384.852 26.5363 385.228 25.973C385.463 25.6209 385.862 25.1632 386.425 24.5998C387.012 24.013 387.47 23.6257 387.798 23.4379C388.479 23.0154 389.207 22.8042 389.981 22.8042H395.333C396.108 22.8042 396.835 23.0154 397.516 23.4379C397.845 23.6257 398.279 24.0013 398.819 24.5646C399.382 25.128 399.805 25.5974 400.086 25.973C400.462 26.5363 400.65 27.2053 400.65 27.9799V39.0003ZM388.362 28.0855V38.9651C388.362 39.0355 388.373 39.0825 388.397 39.1059C388.866 39.8101 389.383 40.3148 389.946 40.6199C389.993 40.6434 390.052 40.6551 390.122 40.6551H395.192C395.263 40.6551 395.321 40.6434 395.368 40.6199C395.932 40.3148 396.448 39.8101 396.917 39.1059L396.953 38.9651V28.0855C396.953 27.9916 396.941 27.9329 396.917 27.9095C396.425 27.1818 395.908 26.6654 395.368 26.3603C395.321 26.3368 395.263 26.3251 395.192 26.3251H390.122C390.028 26.3251 389.97 26.3368 389.946 26.3603C389.406 26.6654 388.89 27.1818 388.397 27.9095L388.362 28.0855ZM430.233 44H426.289L424.74 39.5285H416.748L415.199 44H411.255L418.614 22.945H422.909L430.233 44ZM423.578 36.0075L420.762 27.6982L417.91 36.0075H423.578ZM446 44H432.973V22.945H436.67V40.4791H446V44ZM462.917 44H449.89V22.945H453.587V40.4791H462.917V44ZM490.515 22.945L483.543 34.8104V44H479.847V34.8104L472.946 22.945H477.03L481.713 30.9374L486.395 22.945H490.515ZM509.406 39.0003C509.406 39.7749 509.218 40.4439 508.842 41.0072C508.561 41.3828 508.138 41.8522 507.575 42.4156C507.035 42.9789 506.601 43.3545 506.272 43.5423C505.591 43.9648 504.864 44.176 504.089 44.176H498.737C497.963 44.176 497.235 43.9648 496.554 43.5423C496.226 43.3545 495.768 42.9789 495.181 42.4156C494.618 41.8288 494.219 41.3593 493.984 41.0072C493.609 40.4439 493.421 39.7749 493.421 39.0003V27.9799C493.421 27.2053 493.609 26.5363 493.984 25.973C494.219 25.6209 494.618 25.1632 495.181 24.5998C495.768 24.013 496.226 23.6257 496.554 23.4379C497.235 23.0154 497.963 22.8042 498.737 22.8042H504.089C504.864 22.8042 505.591 23.0154 506.272 23.4379C506.601 23.6257 507.035 24.0013 507.575 24.5646C508.138 25.128 508.561 25.5974 508.842 25.973C509.218 26.5363 509.406 27.2053 509.406 27.9799V39.0003ZM497.118 28.0855V38.9651C497.118 39.0355 497.129 39.0825 497.153 39.1059C497.622 39.8101 498.139 40.3148 498.702 40.6199C498.749 40.6434 498.808 40.6551 498.878 40.6551H503.948C504.019 40.6551 504.077 40.6434 504.124 40.6199C504.688 40.3148 505.204 39.8101 505.673 39.1059L505.709 38.9651V28.0855C505.709 27.9916 505.697 27.9329 505.673 27.9095C505.181 27.1818 504.664 26.6654 504.124 26.3603C504.077 26.3368 504.019 26.3251 503.948 26.3251H498.878C498.784 26.3251 498.726 26.3368 498.702 26.3603C498.162 26.6654 497.646 27.1818 497.153 27.9095L497.118 28.0855ZM525.175 38.9651V22.945H528.872V39.0003C528.872 39.7749 528.684 40.4439 528.308 41.0072C528.05 41.3593 527.639 41.8288 527.076 42.4156C526.536 42.9789 526.09 43.3545 525.738 43.5423C525.057 43.9648 524.341 44.176 523.59 44.176H519.119C518.344 44.176 517.616 43.9648 516.936 43.5423C516.607 43.3545 516.149 42.9789 515.563 42.4156C514.999 41.8288 514.6 41.3593 514.365 41.0072C513.99 40.4439 513.802 39.7749 513.802 39.0003V22.945H517.499V38.9299C517.499 39.0238 517.511 39.0825 517.534 39.1059C518.027 39.8336 518.544 40.3383 519.083 40.6199L519.259 40.6551H523.449C523.52 40.6551 523.578 40.6434 523.625 40.6199C524.165 40.3383 524.67 39.8336 525.139 39.1059L525.175 38.9651ZM548.578 30.9022C548.578 31.7003 548.366 32.4162 547.944 33.05C547.78 33.2847 547.486 33.6133 547.064 34.0358C546.641 34.4349 546.301 34.7283 546.043 34.9161C545.737 35.1508 545.432 35.3151 545.127 35.409L549.317 44H545.303L541.395 35.6907H537.346V44H533.649V22.945H543.543C544.482 22.945 545.315 23.2032 546.043 23.7196C546.277 23.8839 546.606 24.189 547.028 24.635C547.474 25.081 547.78 25.4214 547.944 25.6561C548.366 26.2899 548.578 27.0058 548.578 27.8038V30.9022ZM544.881 30.867V27.8391C544.881 27.7217 544.869 27.6395 544.845 27.5926C544.446 26.8884 544.071 26.5128 543.719 26.4659H537.346V32.1698H543.543C543.707 32.1698 543.93 32.0407 544.212 31.7825C544.493 31.5243 544.705 31.2661 544.845 31.0079C544.869 30.9609 544.881 30.914 544.881 30.867ZM566.057 27.9799V38.8595C566.057 38.9299 566.069 38.9768 566.092 39.0003C566.632 39.8219 567.149 40.3617 567.642 40.6199C567.689 40.6434 567.747 40.6551 567.818 40.6551H568.628L568.416 40.127L571.796 39.0003L572.501 40.6551H572.958C573.029 40.6551 573.087 40.6434 573.134 40.6199C573.557 40.3852 574.05 39.8453 574.613 39.0003L574.648 38.8595V27.9799C574.648 27.9095 574.637 27.8625 574.613 27.8391C574.144 27.1349 573.651 26.6419 573.134 26.3603C573.087 26.3368 573.029 26.3251 572.958 26.3251H567.818C567.724 26.3251 567.665 26.3368 567.642 26.3603C567.055 26.6889 566.538 27.1818 566.092 27.8391L566.057 27.9799ZM573.803 44.1056L573.838 44.176L575.212 47.2392H571.303L570.001 44.176H567.677C566.902 44.176 566.175 43.9648 565.494 43.5423C565.165 43.3545 564.708 42.9789 564.121 42.4156C563.557 41.8288 563.158 41.3593 562.924 41.0072C562.548 40.4439 562.36 39.7749 562.36 39.0003V27.9799C562.36 27.2053 562.548 26.5363 562.924 25.973C563.158 25.6209 563.557 25.1632 564.121 24.5998C564.708 24.013 565.165 23.6257 565.494 23.4379C566.175 23.0154 566.902 22.8042 567.677 22.8042H573.029C573.803 22.8042 574.531 23.0154 575.212 23.4379C575.54 23.6257 575.974 24.0013 576.514 24.5646C577.078 25.128 577.5 25.5974 577.782 25.973C578.157 26.5363 578.345 27.2053 578.345 27.9799V39.0003C578.345 39.7749 578.157 40.4439 577.782 41.0072C577.5 41.3828 577.078 41.8522 576.514 42.4156C575.974 42.9789 575.54 43.3545 575.212 43.5423C574.578 43.8709 574.108 44.0587 573.803 44.1056ZM594.252 38.9651V22.945H597.949V39.0003C597.949 39.7749 597.761 40.4439 597.385 41.0072C597.127 41.3593 596.716 41.8288 596.153 42.4156C595.613 42.9789 595.167 43.3545 594.815 43.5423C594.134 43.9648 593.418 44.176 592.667 44.176H588.196C587.421 44.176 586.694 43.9648 586.013 43.5423C585.684 43.3545 585.226 42.9789 584.64 42.4156C584.076 41.8288 583.677 41.3593 583.443 41.0072C583.067 40.4439 582.879 39.7749 582.879 39.0003V22.945H586.576V38.9299C586.576 39.0238 586.588 39.0825 586.611 39.1059C587.104 39.8336 587.621 40.3383 588.161 40.6199L588.337 40.6551H592.526C592.597 40.6551 592.656 40.6434 592.703 40.6199C593.242 40.3383 593.747 39.8336 594.217 39.1059L594.252 38.9651ZM615.965 44H602.726V22.945H615.965V26.4659H606.423V31.7825H615.296V35.3034H606.423V40.4791H615.965V44ZM635.809 30.9022C635.809 31.7003 635.598 32.4162 635.176 33.05C635.011 33.2847 634.718 33.6133 634.295 34.0358C633.873 34.4349 633.533 34.7283 633.274 34.9161C632.969 35.1508 632.664 35.3151 632.359 35.409L636.549 44H632.535L628.627 35.6907H624.578V44H620.881V22.945H630.774C631.713 22.945 632.547 23.2032 633.274 23.7196C633.509 23.8839 633.838 24.189 634.26 24.635C634.706 25.081 635.011 25.4214 635.176 25.6561C635.598 26.2899 635.809 27.0058 635.809 27.8038V30.9022ZM632.112 30.867V27.8391C632.112 27.7217 632.101 27.6395 632.077 27.5926C631.678 26.8884 631.303 26.5128 630.951 26.4659H624.578V32.1698H630.774C630.939 32.1698 631.162 32.0407 631.443 31.7825C631.725 31.5243 631.936 31.2661 632.077 31.0079C632.101 30.9609 632.112 30.914 632.112 30.867ZM644.967 44H641.27V22.945H644.967V44ZM663.277 44H650.038V22.945H663.277V26.4659H653.735V31.7825H662.608V35.3034H653.735V40.4791H663.277V44ZM683.755 39.0003C683.755 39.8219 683.567 40.4908 683.192 41.0072C682.957 41.3593 682.558 41.8288 681.995 42.4156C681.431 42.9789 680.974 43.3545 680.622 43.5423C679.871 43.9648 679.143 44.176 678.439 44.176H672.312C670.787 44.176 669.296 43.2019 667.841 41.2537C667.7 41.0659 667.489 40.7021 667.207 40.1622L670.693 39.0003C671.162 39.6576 671.679 40.1974 672.242 40.6199C672.289 40.6434 672.371 40.6551 672.488 40.6551H678.263L678.474 40.6199C678.732 40.4791 679.061 40.2092 679.46 39.8101C679.859 39.4111 680.058 39.1412 680.058 39.0003V36.923C680.058 36.5709 679.917 36.3714 679.636 36.3244L670.481 33.719C669.613 33.4842 668.932 33.003 668.439 32.2754C667.97 31.5477 667.735 30.7497 667.735 29.8812V27.9799C667.735 27.1583 667.911 26.4894 668.263 25.973C668.498 25.6444 668.897 25.1984 669.46 24.635C670.047 24.0482 670.517 23.6492 670.869 23.4379C671.62 23.0154 672.348 22.8042 673.052 22.8042H678.263C679.765 22.8042 681.255 23.7783 682.734 25.7265C682.969 26.0551 683.204 26.4659 683.438 26.9588L679.882 27.9799C679.342 27.2053 678.826 26.6654 678.333 26.3603C678.31 26.3368 678.239 26.3251 678.122 26.3251H673.157L672.946 26.3603C672.664 26.5011 672.336 26.7593 671.96 27.1349C671.608 27.5104 671.432 27.7686 671.432 27.9095V29.6699C671.432 30.022 671.561 30.2215 671.819 30.2685L681.009 32.9444C681.854 33.1791 682.523 33.672 683.016 34.4231C683.509 35.1508 683.755 35.9371 683.755 36.7821V39.0003Z" fill="#FF0000"/>
            <path d="M362.346 67.5763H346.336V76.5305H361.279V82.4605H346.336V97.1074H340.109V61.6464H362.346V67.5763ZM395.546 97.1074H388.905L386.296 89.5764H372.835L370.225 97.1074H363.584L375.977 61.6464H383.212L395.546 97.1074ZM384.339 83.6464L379.595 69.6518L374.791 83.6464H384.339ZM406.447 70.1262V88.4497C406.447 88.5683 406.467 88.6474 406.506 88.6869C407.416 90.0706 408.285 90.9798 409.116 91.4147C409.195 91.4542 409.294 91.474 409.412 91.474H410.776L410.42 90.5845L416.113 88.6869L417.299 91.474H418.07C418.188 91.474 418.287 91.4542 418.366 91.4147C419.078 91.0193 419.908 90.1101 420.857 88.6869L420.916 88.4497V70.1262C420.916 70.0076 420.896 69.9285 420.857 69.889C420.066 68.703 419.236 67.8728 418.366 67.3984C418.287 67.3589 418.188 67.3391 418.07 67.3391H409.412C409.254 67.3391 409.155 67.3589 409.116 67.3984C408.127 67.9519 407.258 68.7821 406.506 69.889L406.447 70.1262ZM419.493 97.2853L419.552 97.4039L421.865 102.563H415.283L413.089 97.4039H409.175C407.87 97.4039 406.645 97.0481 405.498 96.3365C404.945 96.0203 404.174 95.3877 403.186 94.4389C402.237 93.4506 401.565 92.66 401.17 92.067C400.537 91.1182 400.221 89.9915 400.221 88.6869V70.1262C400.221 68.8216 400.537 67.6949 401.17 66.7461C401.565 66.1531 402.237 65.3822 403.186 64.4334C404.174 63.4451 404.945 62.7928 405.498 62.4765C406.645 61.765 407.87 61.4092 409.175 61.4092H418.188C419.493 61.4092 420.719 61.765 421.865 62.4765C422.418 62.7928 423.15 63.4253 424.059 64.3741C425.008 65.3229 425.719 66.1136 426.194 66.7461C426.826 67.6949 427.143 68.8216 427.143 70.1262V88.6869C427.143 89.9915 426.826 91.1182 426.194 92.067C425.719 92.6995 425.008 93.4902 424.059 94.4389C423.15 95.3877 422.418 96.0203 421.865 96.3365C420.798 96.89 420.007 97.2063 419.493 97.2853ZM439.226 90.1694C440.096 91.1577 440.827 91.6914 441.42 91.7705H448.299C448.655 91.7705 449.09 91.5135 449.604 90.9996C450.157 90.4857 450.434 90.031 450.434 89.6357V88.2125C450.434 87.6986 450.177 87.4218 449.663 87.3823C449.149 87.3428 447.706 87.2439 445.334 87.0858C443.002 86.8882 441.203 86.73 439.938 86.6114C438.278 86.4928 436.933 85.9196 435.906 84.8917C434.878 83.8243 434.364 82.3814 434.364 80.5629V78.7839C434.364 77.3607 434.72 76.155 435.431 75.1666C437.289 72.5179 439.582 71.1936 442.31 71.1936H448.003C449.505 71.1936 450.928 71.6482 452.272 72.5575C452.944 73.0319 453.676 73.7039 454.466 74.5736C455.257 75.4038 455.81 76.1945 456.127 76.9456L450.553 78.606C450.513 78.5269 450.454 78.4479 450.375 78.3688C449.505 77.3409 448.774 76.827 448.181 76.827H442.488C442.132 76.827 441.875 76.8665 441.717 76.9456C441.163 77.2223 440.709 77.677 440.353 78.3095C440.313 78.3886 440.294 78.5862 440.294 78.9025V80.3257C440.294 80.4443 440.373 80.6024 440.531 80.8001C440.689 80.9582 440.906 81.057 441.183 81.0966C441.618 81.1361 442.982 81.2745 445.275 81.5117C447.568 81.7093 449.307 81.8675 450.493 81.9861C452.233 82.1837 453.636 82.7965 454.703 83.8243C455.81 84.8127 456.364 86.2359 456.364 88.0939V89.7543C456.364 91.1379 455.988 92.3437 455.237 93.3716C454.486 94.4785 453.597 95.3877 452.569 96.0993C451.343 96.9691 449.94 97.4039 448.358 97.4039H441.598C440.136 97.4039 438.712 96.9295 437.329 95.9807C436.657 95.5063 435.925 94.854 435.135 94.0239C434.384 93.1541 433.85 92.3437 433.534 91.5926L439.048 89.9322L439.226 90.1694Z" fill="white"/>
        </svg>            
    </div>
    <div class="questions">
        <div class="questionContainer">
            <div class="question">
                <div class="questionRect" id="questionRect1">
                    <div class="questionRectKaBeta">
                        <p>How do I register to the site?</p>
                        <div class="sideIcon" id="plusIcon1" onclick="showAnswer(event, 'crossIcon1', 'answer1', 'questionRect1')">+</div>
                        <div class="sideIcon" style="display: none;" id="crossIcon1" onclick="hideAnswer(event, 'plusIcon1', 'answer1', 'questionRect1')">&#215;</div>
                    </div>
                </div>
                <div class="questionWeirdVector">a</div>
            </div>
            <div class="answer" id="answer1">
                <div class='answerKaBeta'>It is very simple! Just go to the <a href="/register">Register Page</a> and fill in the necessary details. Then, <a href="/login">login to your account</a> in order to access the other features.</div>
            </div>
        </div>
        <div class="questionContainer">
            <div class="question">
                <div class="questionRect" id="questionRect2">
                    <div class="questionRectKaBeta">
                        <p>Can I create my own team?</p>
                        <div class="sideIcon" id="plusIcon2" onclick="showAnswer(event, 'crossIcon2', 'answer2', 'questionRect2')">+</div>
                        <div class="sideIcon" style="display: none;" id="crossIcon2" onclick="hideAnswer(event, 'plusIcon2', 'answer2', 'questionRect2')">&#215;</div>
                    </div>
                </div>
                <div class="questionWeirdVector">a</div>
            </div>
            <div class="answer" id="answer2">
                <div class='answerKaBeta'>
                    Yes! Just go to the <a href="/hackReg">Team Registration Page</a>, where you can enter the emails of the desired participants, upload the team PFP and the team name, and voila! You have created a team!
                </div>
            </div>
        </div>
        <div class="questionContainer">
            <div class="question">
                <div class="questionRect" id="questionRect3">
                    <div class="questionRectKaBeta">
                        <p>Where can I get the coins to buy powerups?</p>
                        <div class="sideIcon" id="plusIcon3" onclick="showAnswer(event, 'crossIcon3', 'answer3', 'questionRect3')">+</div>
                        <div class="sideIcon" style="display: none;" id="crossIcon3" onclick="hideAnswer(event, 'plusIcon3', 'answer3', 'questionRect3')">&#215;</div>
                    </div>
                </div>
                <div class="questionWeirdVector">a</div>
            </div>
            <div class="answer" id="answer3">
                <div class='answerKaBeta'>
                    You can earn coins by playing the two games on our platform: the <a href="/snake">Snake Game</a> and the <a href="/breachProtocol">Breach Protocol</a>.
                </div>
            </div>
        </div>
        <div class="questionContainer">
            <div class="question">
                <div class="questionRect" id="questionRect4">
                    <div class="questionRectKaBeta">
                        <p>What do the powerups do?</p>
                        <div class="sideIcon" id="plusIcon4" onclick="showAnswer(event, 'crossIcon4', 'answer4', 'questionRect4')">+</div>
                        <div class="sideIcon" style="display: none;" id="crossIcon4" onclick="hideAnswer(event, 'plusIcon4', 'answer4', 'questionRect4')">&#215;</div>
                    </div>
                </div>
                <div class="questionWeirdVector">a</div>
            </div>
            <div class="answer" id="answer4">
                <div class='answerKaBeta'>
                    The powerups give you some specific advantages in the hackathon. For example, you can get a time bonus of a few hours, or a bonus in the number of points you score, by buying the powerups.
                </div>
            </div>
        </div>
        <div class="questionContainer">
            <div class="question">
                <div class="questionRect" id="questionRect5">
                    <div class="questionRectKaBeta">
                        <p>How do I make my hackathon submission?</p>
                        <div class="sideIcon" id="plusIcon5" onclick="showAnswer(event, 'crossIcon5', 'answer5', 'questionRect5')">+</div>
                        <div class="sideIcon" style="display: none;" id="crossIcon5" onclick="hideAnswer(event, 'plusIcon5', 'answer5', 'questionRect5')">&#215;</div>
                    </div>
                </div>
                <div class="questionWeirdVector">a</div>
            </div>
            <div class="answer" id="answer5">
                <div class='answerKaBeta'>
                    In order to make a submission, you must be the admin of a team. If you're not, you need to ask the admin of your team to make the submission. The admin can go to the <a href="/hack">Submission Page</a>, and enter relevant information like the Github link, Project Thumbnail, .env file etc. 
                </div>
            </div>
        </div>
        <div class="questionContainer">
            <div class="question">
                <div class="questionRect" id="questionRect6">
                    <div class="questionRectKaBeta">
                        <p>A spammer added me to their team. What should I do?</p>
                        <div class="sideIcon" id="plusIcon6" onclick="showAnswer(event, 'crossIcon6', 'answer6', 'questionRect6')">+</div>
                        <div class="sideIcon" style="display: none;" id="crossIcon6" onclick="hideAnswer(event, 'plusIcon6', 'answer6', 'questionRect6')">&#215;</div>
                    </div>
                </div>
                <div class="questionWeirdVector">a</div>
            </div>
            <div class="answer" id="answer6">
                <div class='answerKaBeta'>
                    If a spammer added you to their team, firstly, leave that team. You just have to go to the <a href="/hackReg">Teams Page</a>, where you can simply click on the Leave Team Button. Also, you can report the spam account by sending us an email at <a href="mailto:confluence23.aisg46@gmail.com">confluence23.aisg46@gmail.com</a>
                </div>
            </div>
        </div>
    </div>


    <svg class="bottom-vector" width="988" height="39" viewBox="0 0 988 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M38.5 37.5L548.5 37.5M789 37.5L987 37.5V1L825.5 1L789 37.5ZM789 37.5L752.5 37.5M752.5 37.5L789 1L703.5 1L667 37.5M752.5 37.5L667 37.5M667 37.5L630 37.5M548.5 37.5L585 1L666.5 1L630 37.5M548.5 37.5L630 37.5M33 37.5H22M17.5 37.5H10M5.5 37.5H0" stroke="#FF0000"/>
        <path d="M847.5 1.18359L811 37.6836L832 37.6836L868 1.18359L847.5 1.18359Z" fill="#FF0000" stroke="#FF0000"/>
        <path d="M881.499 1L844.999 37.5L865.999 37.5L901.999 1L881.499 1Z" fill="#FF0000" stroke="#FF0000"/>
    </svg>  
    <script>
        function showAnswer(e, crossId, answerId, questionRect) {
            e.target.style.display = 'none'
            document.getElementById(crossId).style.display = 'block'
            document.getElementById(answerId).style.height = 'auto'
            document.getElementById(answerId).style.transform = 'scale(1, 1)'
            document.getElementById(questionRect).style.backgroundColor = 'red'
            document.getElementById(questionRect).style.color = 'red'
            document.getElementById(questionRect).parentElement.children[1].style.backgroundColor = 'red'
        }
        function hideAnswer(e, plusId, answerId, questionRect) {
            e.target.style.display = 'none'
            document.getElementById(plusId).style.display = 'block'
            document.getElementById(answerId).style.transform = 'scale(1, 0)'
            document.getElementById(questionRect).style.backgroundColor = 'white'
            document.getElementById(questionRect).style.color = 'white'
            document.getElementById(questionRect).parentElement.children[1].style.backgroundColor = 'white'
            setTimeout(function() {
                document.getElementById(answerId).style.height = '0px'
            }, 300)
        }
    </script>
</body>
</html>