<form action="/hack/post" method="post">
    <P>complete the details below</P>
    <input type="text" name="submissionLink" id="">
    <input type="text" name="gdLink" id="">
    <input type="file" name="images" id="">
    <button type="submit">Submit</button>
</form>