<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="something">
        <form action="" method='POST'>
            <svg class="lines" width="225" height="34" viewBox="0 0 225 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.1627 7.24792e-05L28.3789 16.2163L11.487 33.1082H0.000553131L16.8924 16.2163L0.676228 7.24792e-05H12.1627Z" fill="white"/>
                <path d="M40.2701 7.24792e-05L56.4863 16.2163L39.4593 33.1082H28.108L44.9999 16.2163L28.7836 7.24792e-05H40.2701Z" fill="white"/>
                <path d="M68.2428 7.24792e-05L84.459 16.2163L67.5671 33.1082H56.0806L72.9725 16.2163L56.7563 7.24792e-05H68.2428Z" fill="white"/>
                <path d="M96.3551 7.24792e-05L112.571 16.2163L95.5442 33.1082H84.1929L101.085 16.2163L84.8686 7.24792e-05H96.3551Z" fill="white"/>
                <path d="M124.732 7.24792e-05L140.813 16.2163L123.922 33.1082H112.57L129.462 16.2163L113.246 7.24792e-05H124.732Z" fill="white"/>
                <path d="M152.704 7.24792e-05L168.92 16.2163L152.028 33.1082H140.542L157.433 16.2163L141.217 7.24792e-05H152.704Z" fill="white"/>
                <path d="M180.812 7.24792e-05L196.893 16.2163L180.001 33.1082H168.649L185.541 16.2163L169.325 7.24792e-05H180.812Z" fill="white"/>
                <path d="M208.785 7.24792e-05L225.001 16.2163L208.109 33.1082H196.623L213.514 16.2163L197.298 7.24792e-05H208.785Z" fill="white"/>
            </svg>
            <svg class="login-text" width="799" height="120" viewBox="0 0 799 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 44.5V119H798V1H40.5L0.5 44.5Z" fill="#08040F" stroke="#FF0000"/>
                <path d="M216.451 22.945L211.557 44H207.367L203.987 29.8812L200.572 44H196.347L191.523 22.945H195.326L198.494 37.7328L201.98 22.945H205.924L209.409 37.7328L212.543 22.945H216.451ZM232.516 44H219.278V22.945H232.516V26.4659H222.975V31.7825H231.847V35.3034H222.975V40.4791H232.516V44ZM250.46 44H237.432V22.945H241.129V40.4791H250.46V44ZM269.278 39.9158C269.043 40.4556 268.797 40.9016 268.538 41.2537C267.083 43.2019 265.593 44.176 264.067 44.176H259.666C258.891 44.176 258.163 43.9648 257.483 43.5423C257.131 43.331 256.673 42.9437 256.11 42.3804C255.546 41.817 255.147 41.3711 254.913 41.0424C254.537 40.4791 254.349 39.8101 254.349 39.0355V27.9447C254.349 27.1936 254.537 26.5363 254.913 25.973C255.147 25.6209 255.546 25.1632 256.11 24.5998C256.696 24.013 257.154 23.6257 257.483 23.4379C258.234 23.0154 258.962 22.8042 259.666 22.8042H264.067C265.569 22.8042 267.06 23.7783 268.538 25.7265C268.679 25.9143 268.926 26.3251 269.278 26.9588L265.686 27.9799C264.982 27.1114 264.454 26.5715 264.102 26.3603C264.079 26.3368 264.032 26.3251 263.961 26.3251H259.807L259.666 26.3603C259.055 26.6889 258.527 27.2053 258.081 27.9095C258.058 27.9564 258.046 28.0855 258.046 28.2968V39.0003C258.046 39.1881 258.234 39.4698 258.609 39.8453C259.008 40.1974 259.361 40.4556 259.666 40.6199C259.689 40.6434 259.771 40.6551 259.912 40.6551H263.926C263.996 40.6551 264.055 40.6434 264.102 40.6199C264.313 40.526 264.548 40.3383 264.806 40.0566C265.088 39.7749 265.311 39.5167 265.475 39.282L265.686 38.9651L269.278 39.9158ZM289.831 39.0003C289.831 39.7749 289.643 40.4439 289.267 41.0072C288.986 41.3828 288.563 41.8522 288 42.4156C287.46 42.9789 287.026 43.3545 286.697 43.5423C286.016 43.9648 285.289 44.176 284.514 44.176H279.162C278.388 44.176 277.66 43.9648 276.979 43.5423C276.651 43.3545 276.193 42.9789 275.606 42.4156C275.043 41.8288 274.644 41.3593 274.409 41.0072C274.033 40.4439 273.846 39.7749 273.846 39.0003V27.9799C273.846 27.2053 274.033 26.5363 274.409 25.973C274.644 25.6209 275.043 25.1632 275.606 24.5998C276.193 24.013 276.651 23.6257 276.979 23.4379C277.66 23.0154 278.388 22.8042 279.162 22.8042H284.514C285.289 22.8042 286.016 23.0154 286.697 23.4379C287.026 23.6257 287.46 24.0013 288 24.5646C288.563 25.128 288.986 25.5974 289.267 25.973C289.643 26.5363 289.831 27.2053 289.831 27.9799V39.0003ZM277.543 28.0855V38.9651C277.543 39.0355 277.554 39.0825 277.578 39.1059C278.047 39.8101 278.564 40.3148 279.127 40.6199C279.174 40.6434 279.233 40.6551 279.303 40.6551H284.373C284.444 40.6551 284.502 40.6434 284.549 40.6199C285.113 40.3148 285.629 39.8101 286.098 39.1059L286.134 38.9651V28.0855C286.134 27.9916 286.122 27.9329 286.098 27.9095C285.605 27.1818 285.089 26.6654 284.549 26.3603C284.502 26.3368 284.444 26.3251 284.373 26.3251H279.303C279.209 26.3251 279.15 26.3368 279.127 26.3603C278.587 26.6654 278.071 27.1818 277.578 27.9095L277.543 28.0855ZM312.747 44H309.05V29.5995L304.86 38.8243H302.431L298.241 29.6347V44H294.544V22.945H298.769L303.698 33.3317L308.557 22.945H312.747V44ZM331.06 44H317.822V22.945H331.06V26.4659H321.519V31.7825H330.391V35.3034H321.519V40.4791H331.06V44ZM340.976 41.3593L338.371 46.9928H334.427L337.561 40.3031L340.976 41.3593ZM369.736 44H365.194L357.906 35.1977H357.519V44H353.822V22.945H357.519V31.712H357.871C358.716 30.7262 359.948 29.2474 361.568 27.2757C363.187 25.304 364.384 23.8604 365.159 22.945H369.701L360.934 33.4373C361.309 33.8833 362.612 35.4559 364.842 38.1553C367.095 40.8547 368.727 42.8029 369.736 44ZM376.498 44H372.801V22.945H376.498V44ZM396.463 44H392.555L385.266 30.022V44H381.569V22.945H385.548L392.766 37.099V22.945H396.463V44ZM416.44 38.8947C416.44 39.7162 416.264 40.3852 415.912 40.9016C415.677 41.2302 415.278 41.6762 414.715 42.2395C414.151 42.7794 413.682 43.155 413.306 43.3662C412.555 43.7887 411.851 44 411.194 44H401.546V22.945H411.194C412.015 22.945 412.731 23.1445 413.341 23.5435C413.693 23.7548 414.139 24.1421 414.679 24.7054C415.219 25.2688 415.618 25.7382 415.876 26.1138C416.252 26.6302 416.44 27.2992 416.44 28.1207V38.8947ZM405.243 40.4791H410.947C411.088 40.4791 411.17 40.4674 411.194 40.4439C411.475 40.2796 411.804 40.0214 412.179 39.6693C412.555 39.2937 412.743 39.0121 412.743 38.8243V28.2264C412.743 28.1559 412.731 28.0973 412.708 28.0503C412.262 27.3227 411.745 26.8063 411.158 26.5011C411.135 26.4776 411.029 26.4659 410.842 26.4659H405.243V40.4791ZM434.413 44H421.386V22.945H425.083V40.4791H434.413V44ZM451.214 22.945L444.243 34.8104V44H440.546V34.8104L433.645 22.945H437.729L442.412 30.9374L447.095 22.945H451.214ZM475.399 44H462.371V22.945H466.068V40.4791H475.399V44ZM495.308 39.0003C495.308 39.7749 495.12 40.4439 494.745 41.0072C494.463 41.3828 494.041 41.8522 493.477 42.4156C492.938 42.9789 492.503 43.3545 492.175 43.5423C491.494 43.9648 490.766 44.176 489.992 44.176H484.64C483.865 44.176 483.138 43.9648 482.457 43.5423C482.128 43.3545 481.671 42.9789 481.084 42.4156C480.52 41.8288 480.121 41.3593 479.887 41.0072C479.511 40.4439 479.323 39.7749 479.323 39.0003V27.9799C479.323 27.2053 479.511 26.5363 479.887 25.973C480.121 25.6209 480.52 25.1632 481.084 24.5998C481.671 24.013 482.128 23.6257 482.457 23.4379C483.138 23.0154 483.865 22.8042 484.64 22.8042H489.992C490.766 22.8042 491.494 23.0154 492.175 23.4379C492.503 23.6257 492.938 24.0013 493.477 24.5646C494.041 25.128 494.463 25.5974 494.745 25.973C495.12 26.5363 495.308 27.2053 495.308 27.9799V39.0003ZM483.02 28.0855V38.9651C483.02 39.0355 483.032 39.0825 483.056 39.1059C483.525 39.8101 484.041 40.3148 484.605 40.6199C484.652 40.6434 484.71 40.6551 484.781 40.6551H489.851C489.921 40.6551 489.98 40.6434 490.027 40.6199C490.59 40.3148 491.107 39.8101 491.576 39.1059L491.611 38.9651V28.0855C491.611 27.9916 491.6 27.9329 491.576 27.9095C491.083 27.1818 490.567 26.6654 490.027 26.3603C489.98 26.3368 489.921 26.3251 489.851 26.3251H484.781C484.687 26.3251 484.628 26.3368 484.605 26.3603C484.065 26.6654 483.548 27.1818 483.056 27.9095L483.02 28.0855ZM503.719 27.9799V39.0003C503.719 39.1881 503.906 39.4698 504.282 39.8453C504.681 40.1974 505.033 40.4556 505.338 40.6199H505.373C505.42 40.6434 505.467 40.6551 505.514 40.6551H510.303L510.479 40.6199C510.76 40.4556 511.101 40.174 511.5 39.7749C511.899 39.3759 512.098 39.0825 512.098 38.8947V35.4794H507.556V31.9585H515.795V39.0707C515.96 40.6199 516.183 42.263 516.464 44H512.838L512.662 43.155C511.699 43.8357 510.972 44.176 510.479 44.176H505.338C504.564 44.176 503.836 43.9648 503.155 43.5423C502.803 43.331 502.345 42.9555 501.782 42.4156C501.219 41.8522 500.82 41.4063 500.585 41.0776C500.209 40.5143 500.022 39.8336 500.022 39.0355V27.9095C500.022 27.1349 500.209 26.4659 500.585 25.9026C500.82 25.5505 501.219 25.0927 501.782 24.5294C502.369 23.9426 502.827 23.5553 503.155 23.3675C503.789 22.9685 504.517 22.7689 505.338 22.7689H510.479C512.098 22.7689 513.589 23.7431 514.95 25.6913C515.302 26.1842 515.549 26.595 515.69 26.9236L512.134 27.9447C511.617 27.2405 511.066 26.7006 510.479 26.3251C510.455 26.3016 510.397 26.2899 510.303 26.2899H505.514L505.338 26.3251C504.704 26.6772 504.176 27.1818 503.754 27.8391L503.719 27.9799ZM528.212 37.099H520.396V33.7894H528.212V37.099ZM536.005 44H532.308V22.945H536.005V44ZM555.969 44H552.061L544.773 30.022V44H541.076V22.945H545.054L552.272 37.099V22.945H555.969V44ZM583.317 26.4659H577.614V44H573.917V26.4659H568.213V22.945H583.317V26.4659ZM603.102 39.0003C603.102 39.7749 602.914 40.4439 602.538 41.0072C602.257 41.3828 601.834 41.8522 601.271 42.4156C600.731 42.9789 600.297 43.3545 599.968 43.5423C599.287 43.9648 598.56 44.176 597.785 44.176H592.433C591.659 44.176 590.931 43.9648 590.25 43.5423C589.922 43.3545 589.464 42.9789 588.877 42.4156C588.314 41.8288 587.915 41.3593 587.68 41.0072C587.304 40.4439 587.117 39.7749 587.117 39.0003V27.9799C587.117 27.2053 587.304 26.5363 587.68 25.973C587.915 25.6209 588.314 25.1632 588.877 24.5998C589.464 24.013 589.922 23.6257 590.25 23.4379C590.931 23.0154 591.659 22.8042 592.433 22.8042H597.785C598.56 22.8042 599.287 23.0154 599.968 23.4379C600.297 23.6257 600.731 24.0013 601.271 24.5646C601.834 25.128 602.257 25.5974 602.538 25.973C602.914 26.5363 603.102 27.2053 603.102 27.9799V39.0003ZM590.814 28.0855V38.9651C590.814 39.0355 590.825 39.0825 590.849 39.1059C591.318 39.8101 591.835 40.3148 592.398 40.6199C592.445 40.6434 592.504 40.6551 592.574 40.6551H597.644C597.715 40.6551 597.773 40.6434 597.82 40.6199C598.384 40.3148 598.9 39.8101 599.369 39.1059L599.405 38.9651V28.0855C599.405 27.9916 599.393 27.9329 599.369 27.9095C598.876 27.1818 598.36 26.6654 597.82 26.3603C597.773 26.3368 597.715 26.3251 597.644 26.3251H592.574C592.48 26.3251 592.421 26.3368 592.398 26.3603C591.858 26.6654 591.342 27.1818 590.849 27.9095L590.814 28.0855Z" fill="#FF0000"/>
                <path d="M263.766 90.2287C263.291 91.2961 262.995 91.8298 262.52 92.4821C260.978 94.5575 258.31 97.4039 254.989 97.4039H247.577C246.272 97.4039 244.849 96.9295 243.9 96.3365C242.655 95.6249 240.283 93.1937 239.571 92.1263C238.86 91.0589 238.623 89.8729 238.623 88.7462V70.0669C238.623 68.9402 238.86 67.8135 239.571 66.7461C240.283 65.738 242.655 63.1881 243.9 62.4765C244.849 61.9429 246.272 61.4092 247.577 61.4092H254.989C258.31 61.4092 260.978 64.3148 262.52 66.331C262.995 66.9833 263.232 67.4577 263.766 68.4065L257.717 70.1262C257.717 70.1262 255.938 67.9321 255.049 67.3984C254.989 67.3391 254.871 67.3391 254.811 67.3391H247.814C247.695 67.3391 247.577 67.3984 247.577 67.3984C246.806 67.8135 245.501 69.0588 244.908 70.0076C244.849 70.1262 244.849 70.5413 244.849 70.6599C244.849 70.7192 244.849 88.6869 244.849 88.6869C244.849 89.3985 246.687 90.9403 247.577 91.4147C247.636 91.474 247.933 91.474 247.992 91.474H254.752C254.811 91.474 254.93 91.474 255.049 91.4147C256.294 90.8217 257.717 88.6276 257.717 88.6276L263.766 90.2287ZM297.373 61.6464L285.631 81.6303V97.1074H279.405V81.6303L267.782 61.6464H274.661L282.548 75.1073L290.435 61.6464H297.373ZM327.291 89.0427C327.291 90.288 326.994 91.5333 326.283 92.6007C325.749 93.3716 323.97 95.2098 323.14 95.8028C321.954 96.633 320.294 97.1074 318.87 97.1074H302.207V61.6464H318.87C320.412 61.6464 321.954 62.1801 323.14 63.0102C323.97 63.6032 325.749 65.4415 326.283 66.2124C327.054 67.3391 327.291 68.703 327.291 69.889V74.2771C327.291 76.7677 326.342 78.0723 324.978 79.4362C326.342 80.8001 327.291 82.0454 327.291 84.5359V89.0427ZM321.005 74.5736C321.005 74.5736 321.065 74.455 321.065 74.1585V69.9483C321.065 69.8297 321.005 69.6518 321.005 69.6518C320.472 68.703 319.345 67.5763 318.811 67.5763H308.434V76.5305H318.87C319.404 76.5305 320.59 75.4631 321.005 74.5736ZM321.005 89.2206C321.005 89.2206 321.065 89.0427 321.065 88.8055V84.5952C321.065 84.4173 321.005 84.2987 321.005 84.2987C320.472 83.35 319.345 82.2826 318.811 82.2826H308.434V91.1775H318.87C319.404 91.1775 320.59 90.1101 321.005 89.2206ZM357.397 97.1074H335.1V61.6464H357.397V67.5763H341.326V76.5305H356.27V82.4605H341.326V91.1775H357.397V97.1074ZM390.819 75.048C390.819 76.3526 390.463 77.5979 389.752 78.6653C389.218 79.4362 387.38 81.2152 386.55 81.8082C386.075 82.164 385.542 82.4605 385.008 82.6384L392.065 97.1074H385.304L378.722 83.1128H371.903V97.1074H365.676V61.6464H382.339C383.763 61.6464 385.364 62.1208 386.55 62.9509C387.38 63.5439 389.218 65.4415 389.752 66.2124C390.463 67.2798 390.819 68.5844 390.819 69.8297V75.048ZM384.593 74.9887V69.889C384.593 69.889 384.593 69.5925 384.533 69.4739C384.178 68.8216 383.229 67.6356 382.636 67.5763H371.903V77.1828H382.339C382.873 77.1828 384.059 76.0561 384.533 75.2259C384.533 75.2259 384.593 75.1073 384.593 74.9887ZM422.254 67.5763H406.243V76.5305H421.187V82.4605H406.243V97.1074H400.017V61.6464H422.254V67.5763ZM456.3 88.6869C456.3 89.8136 456.063 90.9996 455.351 92.067C454.58 93.0751 452.268 95.6249 451.022 96.3365C450.074 96.9295 448.591 97.4039 447.346 97.4039H438.332C437.028 97.4039 435.605 96.9295 434.656 96.3365C433.411 95.6249 431.039 93.0751 430.327 92.067C429.615 90.9996 429.378 89.8136 429.378 88.6869V70.1262C429.378 68.9995 429.615 67.8135 430.327 66.7461C431.039 65.738 433.411 63.1881 434.656 62.4765C435.605 61.8836 437.028 61.4092 438.332 61.4092H447.346C448.591 61.4092 450.074 61.8836 451.022 62.4765C452.268 63.1881 454.58 65.738 455.351 66.7461C456.063 67.8135 456.3 68.9995 456.3 70.1262V88.6869ZM435.605 70.3041V88.6276C435.605 88.6276 435.605 88.8055 435.664 88.8648C436.376 89.9322 437.621 91.0589 438.273 91.4147C438.392 91.474 438.51 91.474 438.57 91.474H447.109C447.109 91.474 447.287 91.474 447.405 91.4147C448.058 91.0589 449.303 89.9322 450.014 88.8648C450.074 88.7462 450.074 88.6276 450.074 88.6276V70.3041C450.074 70.3041 450.074 70.0669 450.014 70.0076C449.303 68.9402 448.058 67.7542 447.405 67.3984C447.287 67.3391 447.168 67.3391 447.109 67.3391H438.57C438.57 67.3391 438.332 67.3391 438.273 67.3984C437.621 67.7542 436.376 68.9402 435.664 70.0076C435.605 70.1262 435.605 70.3041 435.605 70.3041ZM489.381 75.048C489.381 76.3526 489.026 77.5979 488.314 78.6653C487.78 79.4362 485.942 81.2152 485.112 81.8082C484.637 82.164 484.104 82.4605 483.57 82.6384L490.627 97.1074H483.867L477.284 83.1128H470.465V97.1074H464.238V61.6464H480.902C482.325 61.6464 483.926 62.1208 485.112 62.9509C485.942 63.5439 487.78 65.4415 488.314 66.2124C489.026 67.2798 489.381 68.5844 489.381 69.8297V75.048ZM483.155 74.9887V69.889C483.155 69.889 483.155 69.5925 483.096 69.4739C482.74 68.8216 481.791 67.6356 481.198 67.5763H470.465V77.1828H480.902C481.435 77.1828 482.621 76.0561 483.096 75.2259C483.096 75.2259 483.155 75.1073 483.155 74.9887ZM504.805 70.1262V88.6869C504.805 89.3985 506.703 90.9403 507.533 91.4147C507.592 91.4147 507.652 91.474 507.829 91.474H515.894C516.072 91.474 516.191 91.4147 516.191 91.4147C517.021 90.9403 518.918 89.2206 518.918 88.509V82.757H511.269V76.827H525.145V88.8055C525.145 88.8055 525.56 92.7193 526.272 97.1074H520.164L519.867 95.6842C519.037 96.2772 517.555 97.4039 516.191 97.4039H507.533C506.228 97.4039 504.805 96.9295 503.856 96.3365C502.611 95.6249 500.239 93.253 499.528 92.1856C498.816 91.1182 498.579 89.8729 498.579 88.7462V70.0076C498.579 68.8809 498.816 67.6949 499.528 66.6275C500.239 65.6194 502.611 63.0695 503.856 62.358C504.805 61.765 506.228 61.3499 507.533 61.3499H516.191C519.689 61.3499 522.18 64.0776 523.722 66.2717C524.196 66.924 524.671 67.6356 524.967 68.3472L518.978 70.0669C518.978 70.0669 517.673 68.2879 516.191 67.3391C516.131 67.2798 515.954 67.2798 515.894 67.2798H507.829C507.652 67.2798 507.533 67.3391 507.533 67.3391C506.881 67.6949 505.576 68.7623 504.865 69.889C504.805 70.0076 504.805 70.1262 504.805 70.1262ZM556.316 97.1074H534.019V61.6464H556.316V67.5763H540.246V76.5305H555.189V82.4605H540.246V91.1775H556.316V97.1074Z" fill="white"/>
                </svg>
                
            <div class="input">
                <svg class="input-svg" width="801" height="70" viewBox="0 0 801 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 1H800V69H49L3 1Z" stroke="white"/>
                    <path d="M0 27V4L44 69.5H28.5L0 27Z" fill="white"/>
                </svg>                    
                <input type="text" placeholder="Email:" name="username" autocomplete="off"><br>
            </div>
            <div class="input" style="margin-top: -2vw;">
                <svg class="input-svg" width="801" height="70" viewBox="0 0 801 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 1H800V69H49L3 1Z" stroke="white"/>
                    <path d="M0 27V4L44 69.5H28.5L0 27Z" fill="white"/>
                </svg>                    
                <input type="password" placeholder="Password:" name="password" autocomplete="off"><br>
            </div>
            <button type="submit">
                <svg width="205" height="47" viewBox="0 0 205 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M114.448 30.1667H107.161V17.2302H108.411V28.9593H114.448V30.1667ZM126.114 30.1667H118.697V17.2302H126.114V18.4376H119.948V23.0948H125.791V24.3022H119.948V28.9593H126.114V30.1667ZM138.901 18.4376H135.214V30.1667H133.964V18.4376H130.277V17.2302H138.901V18.4376ZM151.939 27.3854C151.939 27.8166 151.853 28.1688 151.681 28.4419C151.551 28.6287 151.314 28.8947 150.969 29.2396C150.639 29.5846 150.38 29.8146 150.193 29.9296C149.834 30.1596 149.467 30.2746 149.093 30.2746H145.514C145.126 30.2746 144.752 30.1596 144.393 29.9296C143.976 29.6708 143.531 29.2181 143.056 28.5712C142.855 28.2981 142.697 28.0178 142.582 27.7304L143.811 27.3854L143.962 27.6441C144.106 27.9029 144.314 28.1688 144.587 28.4419C144.86 28.715 145.09 28.9018 145.277 29.0025C145.335 29.0456 145.435 29.0671 145.579 29.0671H149.007C149.108 29.0671 149.194 29.0456 149.266 29.0025C149.453 28.9018 149.69 28.7222 149.977 28.4634C150.279 28.1903 150.495 27.9388 150.624 27.7088C150.667 27.6226 150.689 27.5291 150.689 27.4285V26.0486C150.689 25.8186 150.624 25.6102 150.495 25.4234C150.366 25.2221 150.2 25.0928 149.999 25.0353L144.091 23.4182C143.689 23.3032 143.365 23.0588 143.121 22.6851C142.877 22.297 142.755 21.8658 142.755 21.3915V20.0547C142.755 19.6235 142.841 19.2713 143.013 18.9982C143.143 18.8114 143.373 18.5454 143.703 18.2005C144.048 17.8411 144.314 17.6039 144.501 17.489C144.86 17.259 145.227 17.144 145.601 17.144H148.813C149.187 17.144 149.553 17.259 149.913 17.489C150.33 17.7477 150.775 18.2005 151.25 18.8473C151.479 19.1779 151.645 19.4582 151.745 19.6882L150.495 20.0547L150.344 19.7744C150.215 19.5301 150.006 19.2713 149.719 18.9982C149.446 18.7107 149.216 18.5167 149.029 18.4161C148.957 18.3729 148.863 18.3514 148.748 18.3514H145.708C145.593 18.3514 145.5 18.3729 145.428 18.4161C145.227 18.5167 144.982 18.6964 144.695 18.9551C144.422 19.1995 144.221 19.4366 144.091 19.6666C144.034 19.7816 144.005 19.875 144.005 19.9469V21.3052C144.005 21.5208 144.07 21.7221 144.199 21.9089C144.328 22.0958 144.487 22.218 144.673 22.2755L150.56 23.9141C150.976 24.0291 151.307 24.2806 151.551 24.6687C151.81 25.0424 151.939 25.4593 151.939 25.9193V27.3854ZM165.821 30.1667H164.636L164.485 29.1103C164.125 29.5702 163.874 29.8433 163.73 29.9296C163.371 30.1596 163.004 30.2746 162.63 30.2746H159.31C158.922 30.2746 158.548 30.1596 158.189 29.9296C158.002 29.8146 157.743 29.5846 157.413 29.2396C157.082 28.8947 156.852 28.6287 156.723 28.4419C156.536 28.1544 156.442 27.8094 156.442 27.407V20.0547C156.442 19.6379 156.536 19.2857 156.723 18.9982C156.852 18.797 157.082 18.5239 157.413 18.1789C157.743 17.8339 158.002 17.6039 158.189 17.489C158.548 17.259 158.922 17.144 159.31 17.144H162.63C163.019 17.144 163.392 17.259 163.752 17.489C164.14 17.7333 164.585 18.1933 165.088 18.8688C165.333 19.2282 165.498 19.5013 165.584 19.6882L164.334 20.0547C164.204 19.7672 163.982 19.4582 163.665 19.1276C163.364 18.7826 163.098 18.5454 162.868 18.4161C162.81 18.3729 162.71 18.3514 162.566 18.3514H159.396C159.267 18.3514 159.174 18.3729 159.116 18.4161C158.929 18.5023 158.685 18.6892 158.383 18.9767C158.095 19.2641 157.887 19.5301 157.758 19.7744C157.715 19.8607 157.693 19.9685 157.693 20.0978V27.3638C157.693 27.4645 157.715 27.5579 157.758 27.6441C157.887 27.8885 158.095 28.1544 158.383 28.4419C158.685 28.7294 158.929 28.9162 159.116 29.0025C159.174 29.0456 159.274 29.0671 159.418 29.0671H162.523C162.638 29.0671 162.731 29.0456 162.803 29.0025C162.99 28.9162 163.234 28.7294 163.536 28.4419C163.838 28.14 164.053 27.8669 164.183 27.6226C164.226 27.5363 164.248 27.4429 164.248 27.3423V24.2159H161.294V23.0301H165.498V27.6226C165.498 28.1544 165.606 29.0025 165.821 30.1667ZM179.731 27.3854C179.731 27.8022 179.638 28.1544 179.451 28.4419C179.322 28.6287 179.092 28.8947 178.761 29.2396C178.431 29.5846 178.172 29.8146 177.985 29.9296C177.626 30.1596 177.252 30.2746 176.864 30.2746H173.457C173.083 30.2746 172.717 30.1596 172.358 29.9296C172.171 29.8146 171.905 29.5846 171.56 29.2396C171.229 28.8947 170.999 28.6287 170.87 28.4419C170.697 28.1688 170.611 27.8166 170.611 27.3854V20.0547C170.611 19.6235 170.697 19.2713 170.87 18.9982C170.999 18.8114 171.229 18.5454 171.56 18.2005C171.905 17.8411 172.171 17.6039 172.358 17.489C172.717 17.259 173.083 17.144 173.457 17.144H176.864C177.252 17.144 177.626 17.259 177.985 17.489C178.172 17.6039 178.431 17.8339 178.761 18.1789C179.092 18.5239 179.322 18.797 179.451 18.9982C179.638 19.2857 179.731 19.6379 179.731 20.0547V27.3854ZM178.481 27.3638V20.0978C178.481 19.9685 178.459 19.8607 178.416 19.7744C178.287 19.5301 178.071 19.2641 177.769 18.9767C177.482 18.6892 177.245 18.5023 177.058 18.4161C176.986 18.3729 176.893 18.3514 176.778 18.3514H173.565C173.436 18.3514 173.342 18.3729 173.285 18.4161C173.112 18.5023 172.875 18.6892 172.573 18.9767C172.286 19.2641 172.077 19.5301 171.948 19.7744C171.89 19.8894 171.862 19.9972 171.862 20.0978V27.3638C171.862 27.4357 171.89 27.5291 171.948 27.6441C172.077 27.8885 172.286 28.1544 172.573 28.4419C172.875 28.7294 173.112 28.9162 173.285 29.0025C173.342 29.0456 173.436 29.0671 173.565 29.0671H176.778C176.893 29.0671 176.986 29.0456 177.058 29.0025C177.245 28.9162 177.482 28.7294 177.769 28.4419C178.071 28.1544 178.287 27.8885 178.416 27.6441C178.459 27.5579 178.481 27.4645 178.481 27.3638Z" fill="white"/>
                    <path d="M204 1H55.8397L100.774 46H204V1Z" stroke="#FF0000" stroke-width="0.805611"/>
                    <path d="M89.0341 46L44.1002 1H24.2645L69.1984 46H89.0341Z" stroke="#FF0000" stroke-width="0.805611"/>
                    <path d="M58.0782 46L13.1443 1H1L45.9339 46H58.0782Z" stroke="#FF0000" stroke-width="0.805611"/>
                </svg>                    
            </button>
            <% if (messages.error) { %>
            <p class="error"><%= messages.error %></p>
            <% } %>
        </form>
    </div>
    <svg class="bottom-vector" width="988" height="39" viewBox="0 0 988 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M38.5 37.5L548.5 37.5M789 37.5L987 37.5V1L825.5 1L789 37.5ZM789 37.5L752.5 37.5M752.5 37.5L789 1L703.5 1L667 37.5M752.5 37.5L667 37.5M667 37.5L630 37.5M548.5 37.5L585 1L666.5 1L630 37.5M548.5 37.5L630 37.5M33 37.5H22M17.5 37.5H10M5.5 37.5H0" stroke="#FF0000"/>
        <path d="M847.5 1.18359L811 37.6836L832 37.6836L868 1.18359L847.5 1.18359Z" fill="#FF0000" stroke="#FF0000"/>
        <path d="M881.499 1L844.999 37.5L865.999 37.5L901.999 1L881.499 1Z" fill="#FF0000" stroke="#FF0000"/>
    </svg>   
</body>
<style>
    * { 
        height: fit-content;
    }
    body {
        height: 100vh;
        width: 100%;
        background-image: linear-gradient(#000615, #190000);
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    @font-face 
    {
        font-family:BlenderProBook;
        font-style:normal;
        font-weight:400;
        src:url('./BlenderProBook.woff2') format("woff2");
    }
    @font-face 
    {
        font-family:sentex;
        font-style:normal;
        font-weight:400;
        src:url('./Sentex-Regular.ttf');
    }
    .bottom-vector {
        position: absolute;
        bottom: 2vw;
        right: 1vw;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        align-self: center;
        gap: 1vw;
    }
    .lines {
        align-self: flex-start;
        margin-left: 2vw;
        width: 11.719vw;
    }
    .login-text {
        width: 41.667vw;
    }
    .input {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .input > input {
        position: absolute;
        top: 0.8vw;
        left: 3vw;
        width: 20vw;
        height: 2vw;
        background: transparent;
        border: none;
        outline: none;
        z-index: 5;
        color: #FF0000;
        font-family: BlenderProBook;
        font-size: 1.2vw;
    }
    input::placeholder {
        color: #FF0000;
    }
    .input-svg {
        width: 41.667vw;
    }
    .something {
        align-self: center;
        justify-content: center;
        display: flex;
        height: calc(85vh - 7.2917vh);
    }
    button {
        background: transparent;
        outline: none;
        border: none;
        align-self: flex-end;
        margin-right: -0.5vw;
        margin-top: -2vw;
        cursor: pointer;
    }
    button > svg {
        width: 10.573vw;
    }
    .error {
        color: #FF0000;
        font-family: BlenderProBook;
    }
</style>
</html>