<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="something">
        <form action="" method='POST'>
            <svg class="lines" width="225" height="34" viewBox="0 0 225 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.1627 7.24792e-05L28.3789 16.2163L11.487 33.1082H0.000553131L16.8924 16.2163L0.676228 7.24792e-05H12.1627Z" fill="white"/>
                <path d="M40.2701 7.24792e-05L56.4863 16.2163L39.4593 33.1082H28.108L44.9999 16.2163L28.7836 7.24792e-05H40.2701Z" fill="white"/>
                <path d="M68.2428 7.24792e-05L84.459 16.2163L67.5671 33.1082H56.0806L72.9725 16.2163L56.7563 7.24792e-05H68.2428Z" fill="white"/>
                <path d="M96.3551 7.24792e-05L112.571 16.2163L95.5442 33.1082H84.1929L101.085 16.2163L84.8686 7.24792e-05H96.3551Z" fill="white"/>
                <path d="M124.732 7.24792e-05L140.813 16.2163L123.922 33.1082H112.57L129.462 16.2163L113.246 7.24792e-05H124.732Z" fill="white"/>
                <path d="M152.704 7.24792e-05L168.92 16.2163L152.028 33.1082H140.542L157.433 16.2163L141.217 7.24792e-05H152.704Z" fill="white"/>
                <path d="M180.812 7.24792e-05L196.893 16.2163L180.001 33.1082H168.649L185.541 16.2163L169.325 7.24792e-05H180.812Z" fill="white"/>
                <path d="M208.785 7.24792e-05L225.001 16.2163L208.109 33.1082H196.623L213.514 16.2163L197.298 7.24792e-05H208.785Z" fill="white"/>
            </svg>
            <svg class="login-text" width="799" height="120" viewBox="0 0 799 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 44.5V119H798V1H40.5L0.5 44.5Z" fill="#08040F" stroke="#FF0000"/>
                <path d="M113.506 22.945L108.612 44H104.422L101.042 29.8812L97.6266 44H93.4015L88.5779 22.945H92.3804L95.5493 37.7328L99.035 22.945H102.978L106.464 37.7328L109.598 22.945H113.506ZM129.571 44H116.332V22.945H129.571V26.4659H120.029V31.7825H128.902V35.3034H120.029V40.4791H129.571V44ZM147.515 44H134.487V22.945H138.184V40.4791H147.515V44ZM166.333 39.9158C166.098 40.4556 165.851 40.9016 165.593 41.2537C164.138 43.2019 162.647 44.176 161.122 44.176H156.721C155.946 44.176 155.218 43.9648 154.538 43.5423C154.186 43.331 153.728 42.9437 153.164 42.3804C152.601 41.817 152.202 41.3711 151.967 41.0424C151.592 40.4791 151.404 39.8101 151.404 39.0355V27.9447C151.404 27.1936 151.592 26.5363 151.967 25.973C152.202 25.6209 152.601 25.1632 153.164 24.5998C153.751 24.013 154.209 23.6257 154.538 23.4379C155.289 23.0154 156.016 22.8042 156.721 22.8042H161.122C162.624 22.8042 164.114 23.7783 165.593 25.7265C165.734 25.9143 165.981 26.3251 166.333 26.9588L162.741 27.9799C162.037 27.1114 161.509 26.5715 161.157 26.3603C161.133 26.3368 161.086 26.3251 161.016 26.3251H156.861L156.721 26.3603C156.11 26.6889 155.582 27.2053 155.136 27.9095C155.113 27.9564 155.101 28.0855 155.101 28.2968V39.0003C155.101 39.1881 155.289 39.4698 155.664 39.8453C156.063 40.1974 156.415 40.4556 156.721 40.6199C156.744 40.6434 156.826 40.6551 156.967 40.6551H160.981C161.051 40.6551 161.11 40.6434 161.157 40.6199C161.368 40.526 161.603 40.3383 161.861 40.0566C162.143 39.7749 162.366 39.5167 162.53 39.282L162.741 38.9651L166.333 39.9158ZM186.885 39.0003C186.885 39.7749 186.698 40.4439 186.322 41.0072C186.04 41.3828 185.618 41.8522 185.054 42.4156C184.515 42.9789 184.08 43.3545 183.752 43.5423C183.071 43.9648 182.343 44.176 181.569 44.176H176.217C175.442 44.176 174.715 43.9648 174.034 43.5423C173.705 43.3545 173.248 42.9789 172.661 42.4156C172.098 41.8288 171.699 41.3593 171.464 41.0072C171.088 40.4439 170.9 39.7749 170.9 39.0003V27.9799C170.9 27.2053 171.088 26.5363 171.464 25.973C171.699 25.6209 172.098 25.1632 172.661 24.5998C173.248 24.013 173.705 23.6257 174.034 23.4379C174.715 23.0154 175.442 22.8042 176.217 22.8042H181.569C182.343 22.8042 183.071 23.0154 183.752 23.4379C184.08 23.6257 184.515 24.0013 185.054 24.5646C185.618 25.128 186.04 25.5974 186.322 25.973C186.698 26.5363 186.885 27.2053 186.885 27.9799V39.0003ZM174.597 28.0855V38.9651C174.597 39.0355 174.609 39.0825 174.633 39.1059C175.102 39.8101 175.618 40.3148 176.182 40.6199C176.229 40.6434 176.287 40.6551 176.358 40.6551H181.428C181.498 40.6551 181.557 40.6434 181.604 40.6199C182.167 40.3148 182.684 39.8101 183.153 39.1059L183.188 38.9651V28.0855C183.188 27.9916 183.177 27.9329 183.153 27.9095C182.66 27.1818 182.144 26.6654 181.604 26.3603C181.557 26.3368 181.498 26.3251 181.428 26.3251H176.358C176.264 26.3251 176.205 26.3368 176.182 26.3603C175.642 26.6654 175.126 27.1818 174.633 27.9095L174.597 28.0855ZM209.802 44H206.105V29.5995L201.915 38.8243H199.486L195.296 29.6347V44H191.599V22.945H195.824L200.753 33.3317L205.612 22.945H209.802V44ZM228.115 44H214.877V22.945H228.115V26.4659H218.573V31.7825H227.446V35.3034H218.573V40.4791H228.115V44ZM238.031 41.3593L235.425 46.9928H231.482L234.616 40.3031L238.031 41.3593ZM266.791 44H262.249L254.961 35.1977H254.573V44H250.876V22.945H254.573V31.712H254.925C255.77 30.7262 257.003 29.2474 258.622 27.2757C260.242 25.304 261.439 23.8604 262.214 22.945H266.756L257.989 33.4373C258.364 33.8833 259.667 35.4559 261.897 38.1553C264.15 40.8547 265.782 42.8029 266.791 44ZM273.553 44H269.856V22.945H273.553V44ZM293.518 44H289.609L282.321 30.022V44H278.624V22.945H282.603L289.821 37.099V22.945H293.518V44ZM313.495 38.8947C313.495 39.7162 313.319 40.3852 312.966 40.9016C312.732 41.2302 312.333 41.6762 311.769 42.2395C311.206 42.7794 310.737 43.155 310.361 43.3662C309.61 43.7887 308.906 44 308.248 44H298.601V22.945H308.248C309.07 22.945 309.786 23.1445 310.396 23.5435C310.748 23.7548 311.194 24.1421 311.734 24.7054C312.274 25.2688 312.673 25.7382 312.931 26.1138C313.307 26.6302 313.495 27.2992 313.495 28.1207V38.8947ZM302.298 40.4791H308.002C308.143 40.4791 308.225 40.4674 308.248 40.4439C308.53 40.2796 308.859 40.0214 309.234 39.6693C309.61 39.2937 309.798 39.0121 309.798 38.8243V28.2264C309.798 28.1559 309.786 28.0973 309.762 28.0503C309.316 27.3227 308.8 26.8063 308.213 26.5011C308.19 26.4776 308.084 26.4659 307.896 26.4659H302.298V40.4791ZM331.468 44H318.441V22.945H322.138V40.4791H331.468V44ZM348.269 22.945L341.298 34.8104V44H337.601V34.8104L330.7 22.945H334.784L339.467 30.9374L344.15 22.945H348.269ZM374.355 30.9022C374.355 31.7003 374.144 32.4162 373.721 33.05C373.557 33.2847 373.263 33.6133 372.841 34.0358C372.418 34.4349 372.078 34.7283 371.82 34.9161C371.515 35.1508 371.209 35.3151 370.904 35.409L375.094 44H371.08L367.172 35.6907H363.123V44H359.426V22.945H369.32C370.259 22.945 371.092 23.2032 371.82 23.7196C372.054 23.8839 372.383 24.189 372.806 24.635C373.252 25.081 373.557 25.4214 373.721 25.6561C374.144 26.2899 374.355 27.0058 374.355 27.8038V30.9022ZM370.658 30.867V27.8391C370.658 27.7217 370.646 27.6395 370.623 27.5926C370.224 26.8884 369.848 26.5128 369.496 26.4659H363.123V32.1698H369.32C369.484 32.1698 369.707 32.0407 369.989 31.7825C370.271 31.5243 370.482 31.2661 370.623 31.0079C370.646 30.9609 370.658 30.914 370.658 30.867ZM393.054 44H379.816V22.945H393.054V26.4659H383.513V31.7825H392.385V35.3034H383.513V40.4791H393.054V44ZM401.667 27.9799V39.0003C401.667 39.1881 401.855 39.4698 402.231 39.8453C402.63 40.1974 402.982 40.4556 403.287 40.6199H403.322C403.369 40.6434 403.416 40.6551 403.463 40.6551H408.251L408.427 40.6199C408.709 40.4556 409.05 40.174 409.449 39.7749C409.848 39.3759 410.047 39.0825 410.047 38.8947V35.4794H405.505V31.9585H413.744V39.0707C413.908 40.6199 414.131 42.263 414.413 44H410.786L410.61 43.155C409.648 43.8357 408.92 44.176 408.427 44.176H403.287C402.512 44.176 401.785 43.9648 401.104 43.5423C400.752 43.331 400.294 42.9555 399.731 42.4156C399.168 41.8522 398.768 41.4063 398.534 41.0776C398.158 40.5143 397.97 39.8336 397.97 39.0355V27.9095C397.97 27.1349 398.158 26.4659 398.534 25.9026C398.768 25.5505 399.168 25.0927 399.731 24.5294C400.318 23.9426 400.775 23.5553 401.104 23.3675C401.738 22.9685 402.465 22.7689 403.287 22.7689H408.427C410.047 22.7689 411.538 23.7431 412.899 25.6913C413.251 26.1842 413.498 26.595 413.638 26.9236L410.082 27.9447C409.566 27.2405 409.014 26.7006 408.427 26.3251C408.404 26.3016 408.345 26.2899 408.251 26.2899H403.463L403.287 26.3251C402.653 26.6772 402.125 27.1818 401.703 27.8391L401.667 27.9799ZM422.71 44H419.013V22.945H422.71V44ZM443.344 39.0003C443.344 39.8219 443.156 40.4908 442.78 41.0072C442.546 41.3593 442.146 41.8288 441.583 42.4156C441.02 42.9789 440.562 43.3545 440.21 43.5423C439.459 43.9648 438.731 44.176 438.027 44.176H431.901C430.375 44.176 428.884 43.2019 427.429 41.2537C427.288 41.0659 427.077 40.7021 426.795 40.1622L430.281 39.0003C430.75 39.6576 431.267 40.1974 431.83 40.6199C431.877 40.6434 431.959 40.6551 432.077 40.6551H437.851L438.062 40.6199C438.32 40.4791 438.649 40.2092 439.048 39.8101C439.447 39.4111 439.647 39.1412 439.647 39.0003V36.923C439.647 36.5709 439.506 36.3714 439.224 36.3244L430.07 33.719C429.201 33.4842 428.521 33.003 428.028 32.2754C427.558 31.5477 427.323 30.7497 427.323 29.8812V27.9799C427.323 27.1583 427.5 26.4894 427.852 25.973C428.086 25.6444 428.485 25.1984 429.049 24.635C429.636 24.0482 430.105 23.6492 430.457 23.4379C431.208 23.0154 431.936 22.8042 432.64 22.8042H437.851C439.353 22.8042 440.844 23.7783 442.323 25.7265C442.557 26.0551 442.792 26.4659 443.027 26.9588L439.471 27.9799C438.931 27.2053 438.414 26.6654 437.921 26.3603C437.898 26.3368 437.828 26.3251 437.71 26.3251H432.746L432.534 26.3603C432.253 26.5011 431.924 26.7593 431.549 27.1349C431.196 27.5104 431.02 27.7686 431.02 27.9095V29.6699C431.02 30.022 431.15 30.2215 431.408 30.2685L440.597 32.9444C441.442 33.1791 442.111 33.672 442.604 34.4231C443.097 35.1508 443.344 35.9371 443.344 36.7821V39.0003ZM461.874 26.4659H456.17V44H452.473V26.4659H446.769V22.945H461.874V26.4659ZM478.876 44H465.638V22.945H478.876V26.4659H469.335V31.7825H478.207V35.3034H469.335V40.4791H478.876V44ZM498.721 30.9022C498.721 31.7003 498.51 32.4162 498.087 33.05C497.923 33.2847 497.63 33.6133 497.207 34.0358C496.785 34.4349 496.444 34.7283 496.186 34.9161C495.881 35.1508 495.576 35.3151 495.271 35.409L499.46 44H495.447L491.538 35.6907H487.489V44H483.792V22.945H493.686C494.625 22.945 495.458 23.2032 496.186 23.7196C496.421 23.8839 496.749 24.189 497.172 24.635C497.618 25.081 497.923 25.4214 498.087 25.6561C498.51 26.2899 498.721 27.0058 498.721 27.8038V30.9022ZM495.024 30.867V27.8391C495.024 27.7217 495.012 27.6395 494.989 27.5926C494.59 26.8884 494.214 26.5128 493.862 26.4659H487.489V32.1698H493.686C493.85 32.1698 494.073 32.0407 494.355 31.7825C494.637 31.5243 494.848 31.2661 494.989 31.0079C495.012 30.9609 495.024 30.914 495.024 30.867ZM527.89 22.945L520.919 34.8104V44H517.222V34.8104L510.321 22.945H514.405L519.088 30.9374L523.771 22.945H527.89ZM546.781 39.0003C546.781 39.7749 546.593 40.4439 546.218 41.0072C545.936 41.3828 545.513 41.8522 544.95 42.4156C544.41 42.9789 543.976 43.3545 543.647 43.5423C542.967 43.9648 542.239 44.176 541.464 44.176H536.113C535.338 44.176 534.61 43.9648 533.93 43.5423C533.601 43.3545 533.143 42.9789 532.556 42.4156C531.993 41.8288 531.594 41.3593 531.359 41.0072C530.984 40.4439 530.796 39.7749 530.796 39.0003V27.9799C530.796 27.2053 530.984 26.5363 531.359 25.973C531.594 25.6209 531.993 25.1632 532.556 24.5998C533.143 24.013 533.601 23.6257 533.93 23.4379C534.61 23.0154 535.338 22.8042 536.113 22.8042H541.464C542.239 22.8042 542.967 23.0154 543.647 23.4379C543.976 23.6257 544.41 24.0013 544.95 24.5646C545.513 25.128 545.936 25.5974 546.218 25.973C546.593 26.5363 546.781 27.2053 546.781 27.9799V39.0003ZM534.493 28.0855V38.9651C534.493 39.0355 534.505 39.0825 534.528 39.1059C534.998 39.8101 535.514 40.3148 536.077 40.6199C536.124 40.6434 536.183 40.6551 536.253 40.6551H541.323C541.394 40.6551 541.453 40.6434 541.5 40.6199C542.063 40.3148 542.579 39.8101 543.049 39.1059L543.084 38.9651V28.0855C543.084 27.9916 543.072 27.9329 543.049 27.9095C542.556 27.1818 542.039 26.6654 541.5 26.3603C541.453 26.3368 541.394 26.3251 541.323 26.3251H536.253C536.159 26.3251 536.101 26.3368 536.077 26.3603C535.537 26.6654 535.021 27.1818 534.528 27.9095L534.493 28.0855ZM562.55 38.9651V22.945H566.247V39.0003C566.247 39.7749 566.059 40.4439 565.683 41.0072C565.425 41.3593 565.014 41.8288 564.451 42.4156C563.911 42.9789 563.465 43.3545 563.113 43.5423C562.432 43.9648 561.717 44.176 560.965 44.176H556.494C555.719 44.176 554.992 43.9648 554.311 43.5423C553.982 43.3545 553.525 42.9789 552.938 42.4156C552.374 41.8288 551.975 41.3593 551.741 41.0072C551.365 40.4439 551.177 39.7749 551.177 39.0003V22.945H554.874V38.9299C554.874 39.0238 554.886 39.0825 554.909 39.1059C555.402 39.8336 555.919 40.3383 556.459 40.6199L556.635 40.6551H560.825C560.895 40.6551 560.954 40.6434 561.001 40.6199C561.541 40.3383 562.045 39.8336 562.515 39.1059L562.55 38.9651ZM585.953 30.9022C585.953 31.7003 585.742 32.4162 585.319 33.05C585.155 33.2847 584.861 33.6133 584.439 34.0358C584.016 34.4349 583.676 34.7283 583.418 34.9161C583.113 35.1508 582.807 35.3151 582.502 35.409L586.692 44H582.678L578.77 35.6907H574.721V44H571.024V22.945H580.918C581.857 22.945 582.69 23.2032 583.418 23.7196C583.653 23.8839 583.981 24.189 584.404 24.635C584.85 25.081 585.155 25.4214 585.319 25.6561C585.742 26.2899 585.953 27.0058 585.953 27.8038V30.9022ZM582.256 30.867V27.8391C582.256 27.7217 582.244 27.6395 582.221 27.5926C581.822 26.8884 581.446 26.5128 581.094 26.4659H574.721V32.1698H580.918C581.082 32.1698 581.305 32.0407 581.587 31.7825C581.869 31.5243 582.08 31.2661 582.221 31.0079C582.244 30.9609 582.256 30.914 582.256 30.867ZM606.976 39.0003C606.976 39.8219 606.788 40.4908 606.413 41.0072C606.178 41.3593 605.779 41.8288 605.216 42.4156C604.652 42.9789 604.195 43.3545 603.843 43.5423C603.091 43.9648 602.364 44.176 601.66 44.176H595.533C594.008 44.176 592.517 43.2019 591.062 41.2537C590.921 41.0659 590.71 40.7021 590.428 40.1622L593.914 39.0003C594.383 39.6576 594.9 40.1974 595.463 40.6199C595.51 40.6434 595.592 40.6551 595.709 40.6551H601.484L601.695 40.6199C601.953 40.4791 602.282 40.2092 602.681 39.8101C603.08 39.4111 603.279 39.1412 603.279 39.0003V36.923C603.279 36.5709 603.138 36.3714 602.857 36.3244L593.702 33.719C592.834 33.4842 592.153 33.003 591.66 32.2754C591.191 31.5477 590.956 30.7497 590.956 29.8812V27.9799C590.956 27.1583 591.132 26.4894 591.484 25.973C591.719 25.6444 592.118 25.1984 592.681 24.635C593.268 24.0482 593.738 23.6492 594.09 23.4379C594.841 23.0154 595.568 22.8042 596.273 22.8042H601.484C602.986 22.8042 604.476 23.7783 605.955 25.7265C606.19 26.0551 606.425 26.4659 606.659 26.9588L603.103 27.9799C602.563 27.2053 602.047 26.6654 601.554 26.3603C601.531 26.3368 601.46 26.3251 601.343 26.3251H596.378L596.167 26.3603C595.885 26.5011 595.557 26.7593 595.181 27.1349C594.829 27.5104 594.653 27.7686 594.653 27.9095V29.6699C594.653 30.022 594.782 30.2215 595.04 30.2685L604.23 32.9444C605.075 33.1791 605.744 33.672 606.237 34.4231C606.73 35.1508 606.976 35.9371 606.976 36.7821V39.0003ZM624.767 44H611.528V22.945H624.767V26.4659H615.225V31.7825H624.098V35.3034H615.225V40.4791H624.767V44ZM642.71 44H629.683V22.945H633.38V40.4791H642.71V44ZM659.803 26.4659H650.297V31.7825H659.169V35.3034H650.297V44H646.6V22.945H659.803V26.4659ZM686.263 26.4659H680.559V44H676.862V26.4659H671.158V22.945H686.263V26.4659ZM706.047 39.0003C706.047 39.7749 705.859 40.4439 705.483 41.0072C705.202 41.3828 704.779 41.8522 704.216 42.4156C703.676 42.9789 703.242 43.3545 702.913 43.5423C702.232 43.9648 701.505 44.176 700.73 44.176H695.378C694.604 44.176 693.876 43.9648 693.195 43.5423C692.867 43.3545 692.409 42.9789 691.822 42.4156C691.259 41.8288 690.86 41.3593 690.625 41.0072C690.25 40.4439 690.062 39.7749 690.062 39.0003V27.9799C690.062 27.2053 690.25 26.5363 690.625 25.973C690.86 25.6209 691.259 25.1632 691.822 24.5998C692.409 24.013 692.867 23.6257 693.195 23.4379C693.876 23.0154 694.604 22.8042 695.378 22.8042H700.73C701.505 22.8042 702.232 23.0154 702.913 23.4379C703.242 23.6257 703.676 24.0013 704.216 24.5646C704.779 25.128 705.202 25.5974 705.483 25.973C705.859 26.5363 706.047 27.2053 706.047 27.9799V39.0003ZM693.759 28.0855V38.9651C693.759 39.0355 693.771 39.0825 693.794 39.1059C694.263 39.8101 694.78 40.3148 695.343 40.6199C695.39 40.6434 695.449 40.6551 695.519 40.6551H700.589C700.66 40.6551 700.718 40.6434 700.765 40.6199C701.329 40.3148 701.845 39.8101 702.315 39.1059L702.35 38.9651V28.0855C702.35 27.9916 702.338 27.9329 702.315 27.9095C701.822 27.1818 701.305 26.6654 700.765 26.3603C700.718 26.3368 700.66 26.3251 700.589 26.3251H695.519C695.425 26.3251 695.367 26.3368 695.343 26.3603C694.803 26.6654 694.287 27.1818 693.794 27.9095L693.759 28.0855Z" fill="#FF0000"/>
                <path d="M263.766 90.2286C263.291 91.296 262.995 91.8297 262.52 92.4819C260.978 94.5574 258.31 97.4038 254.989 97.4038H247.577C246.272 97.4038 244.849 96.9294 243.9 96.3364C242.655 95.6248 240.283 93.1935 239.571 92.1261C238.86 91.0588 238.623 89.8728 238.623 88.7461V70.0668C238.623 68.9401 238.86 67.8134 239.571 66.746C240.283 65.7379 242.655 63.188 243.9 62.4764C244.849 61.9427 246.272 61.409 247.577 61.409H254.989C258.31 61.409 260.978 64.3147 262.52 66.3309C262.995 66.9832 263.232 67.4576 263.766 68.4064L257.717 70.1261C257.717 70.1261 255.938 67.932 255.049 67.3983C254.989 67.339 254.871 67.339 254.811 67.339H247.814C247.695 67.339 247.577 67.3983 247.577 67.3983C246.806 67.8134 245.501 69.0587 244.908 70.0075C244.849 70.1261 244.849 70.5412 244.849 70.6598C244.849 70.7191 244.849 88.6868 244.849 88.6868C244.849 89.3984 246.687 90.9402 247.577 91.4146C247.636 91.4739 247.933 91.4739 247.992 91.4739H254.752C254.811 91.4739 254.93 91.4739 255.049 91.4146C256.294 90.8216 257.717 88.6275 257.717 88.6275L263.766 90.2286ZM297.373 61.6462L285.631 81.6301V97.1073H279.405V81.6301L267.782 61.6462H274.661L282.548 75.1072L290.435 61.6462H297.373ZM327.291 89.0426C327.291 90.2879 326.994 91.5332 326.283 92.6005C325.749 93.3714 323.97 95.2097 323.14 95.8027C321.954 96.6329 320.294 97.1073 318.87 97.1073H302.207V61.6462H318.87C320.412 61.6462 321.954 62.1799 323.14 63.0101C323.97 63.6031 325.749 65.4414 326.283 66.2123C327.054 67.339 327.291 68.7029 327.291 69.8889V74.277C327.291 76.7676 326.342 78.0722 324.978 79.4361C326.342 80.8 327.291 82.0452 327.291 84.5358V89.0426ZM321.005 74.5735C321.005 74.5735 321.065 74.4549 321.065 74.1584V69.9482C321.065 69.8296 321.005 69.6517 321.005 69.6517C320.472 68.7029 319.345 67.5762 318.811 67.5762H308.434V76.5304H318.87C319.404 76.5304 320.59 75.463 321.005 74.5735ZM321.005 89.2205C321.005 89.2205 321.065 89.0426 321.065 88.8054V84.5951C321.065 84.4172 321.005 84.2986 321.005 84.2986C320.472 83.3498 319.345 82.2824 318.811 82.2824H308.434V91.1774H318.87C319.404 91.1774 320.59 90.11 321.005 89.2205ZM357.397 97.1073H335.1V61.6462H357.397V67.5762H341.326V76.5304H356.27V82.4603H341.326V91.1774H357.397V97.1073ZM390.819 75.0479C390.819 76.3525 390.463 77.5978 389.752 78.6652C389.218 79.4361 387.38 81.2151 386.55 81.808C386.075 82.1638 385.542 82.4603 385.008 82.6382L392.065 97.1073H385.304L378.722 83.1126H371.903V97.1073H365.676V61.6462H382.339C383.763 61.6462 385.364 62.1206 386.55 62.9508C387.38 63.5438 389.218 65.4414 389.752 66.2123C390.463 67.2797 390.819 68.5843 390.819 69.8296V75.0479ZM384.593 74.9886V69.8889C384.593 69.8889 384.593 69.5924 384.533 69.4738C384.178 68.8215 383.229 67.6355 382.636 67.5762H371.903V77.1827H382.339C382.873 77.1827 384.059 76.056 384.533 75.2258C384.533 75.2258 384.593 75.1072 384.593 74.9886ZM422.254 67.5762H406.243V76.5304H421.187V82.4603H406.243V97.1073H400.017V61.6462H422.254V67.5762ZM456.3 88.6868C456.3 89.8135 456.063 90.9995 455.351 92.0668C454.58 93.0749 452.268 95.6248 451.022 96.3364C450.074 96.9294 448.591 97.4038 447.346 97.4038H438.332C437.028 97.4038 435.605 96.9294 434.656 96.3364C433.411 95.6248 431.039 93.0749 430.327 92.0668C429.615 90.9995 429.378 89.8135 429.378 88.6868V70.1261C429.378 68.9994 429.615 67.8134 430.327 66.746C431.039 65.7379 433.411 63.188 434.656 62.4764C435.605 61.8834 437.028 61.409 438.332 61.409H447.346C448.591 61.409 450.074 61.8834 451.022 62.4764C452.268 63.188 454.58 65.7379 455.351 66.746C456.063 67.8134 456.3 68.9994 456.3 70.1261V88.6868ZM435.605 70.304V88.6275C435.605 88.6275 435.605 88.8054 435.664 88.8647C436.376 89.9321 437.621 91.0588 438.273 91.4146C438.392 91.4739 438.51 91.4739 438.57 91.4739H447.109C447.109 91.4739 447.287 91.4739 447.405 91.4146C448.058 91.0588 449.303 89.9321 450.014 88.8647C450.074 88.7461 450.074 88.6275 450.074 88.6275V70.304C450.074 70.304 450.074 70.0668 450.014 70.0075C449.303 68.9401 448.058 67.7541 447.405 67.3983C447.287 67.339 447.168 67.339 447.109 67.339H438.57C438.57 67.339 438.332 67.339 438.273 67.3983C437.621 67.7541 436.376 68.9401 435.664 70.0075C435.605 70.1261 435.605 70.304 435.605 70.304ZM489.381 75.0479C489.381 76.3525 489.026 77.5978 488.314 78.6652C487.78 79.4361 485.942 81.2151 485.112 81.808C484.637 82.1638 484.104 82.4603 483.57 82.6382L490.627 97.1073H483.867L477.284 83.1126H470.465V97.1073H464.238V61.6462H480.902C482.325 61.6462 483.926 62.1206 485.112 62.9508C485.942 63.5438 487.78 65.4414 488.314 66.2123C489.026 67.2797 489.381 68.5843 489.381 69.8296V75.0479ZM483.155 74.9886V69.8889C483.155 69.8889 483.155 69.5924 483.096 69.4738C482.74 68.8215 481.791 67.6355 481.198 67.5762H470.465V77.1827H480.902C481.435 77.1827 482.621 76.056 483.096 75.2258C483.096 75.2258 483.155 75.1072 483.155 74.9886ZM504.805 70.1261V88.6868C504.805 89.3984 506.703 90.9402 507.533 91.4146C507.592 91.4146 507.652 91.4739 507.829 91.4739H515.894C516.072 91.4739 516.191 91.4146 516.191 91.4146C517.021 90.9402 518.918 89.2205 518.918 88.5089V82.7568H511.269V76.8269H525.145V88.8054C525.145 88.8054 525.56 92.7191 526.272 97.1073H520.164L519.867 95.6841C519.037 96.2771 517.555 97.4038 516.191 97.4038H507.533C506.228 97.4038 504.805 96.9294 503.856 96.3364C502.611 95.6248 500.239 93.2528 499.528 92.1854C498.816 91.1181 498.579 89.8728 498.579 88.7461V70.0075C498.579 68.8808 498.816 67.6948 499.528 66.6274C500.239 65.6193 502.611 63.0694 503.856 62.3578C504.805 61.7648 506.228 61.3497 507.533 61.3497H516.191C519.689 61.3497 522.18 64.0775 523.722 66.2716C524.196 66.9239 524.671 67.6355 524.967 68.3471L518.978 70.0668C518.978 70.0668 517.673 68.2878 516.191 67.339C516.131 67.2797 515.954 67.2797 515.894 67.2797H507.829C507.652 67.2797 507.533 67.339 507.533 67.339C506.881 67.6948 505.576 68.7622 504.865 69.8889C504.805 70.0075 504.805 70.1261 504.805 70.1261ZM556.316 97.1073H534.019V61.6462H556.316V67.5762H540.246V76.5304H555.189V82.4603H540.246V91.1774H556.316V97.1073Z" fill="white"/>
            </svg>
            <div class="input">
                <svg class="input-svg" width="801" height="70" viewBox="0 0 801 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 1H800V69H49L3 1Z" stroke="white"/>
                    <path d="M0 27V4L44 69.5H28.5L0 27Z" fill="white"/>
                </svg>                    
                <input type="text" placeholder="First Name:" name="fname" autocomplete="off"><br>
            </div>
            <div class="input" style="margin-top: -2vw;">
                <svg class="input-svg" width="801" height="70" viewBox="0 0 801 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 1H800V69H49L3 1Z" stroke="white"/>
                    <path d="M0 27V4L44 69.5H28.5L0 27Z" fill="white"/>
                </svg>                    
                <input type="text" placeholder="Last Name:" name="lname" autocomplete="off"><br>
            </div>
            <div class="input" style="margin-top: -2vw;">
                <svg class="input-svg" width="801" height="70" viewBox="0 0 801 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 1H800V69H49L3 1Z" stroke="white"/>
                    <path d="M0 27V4L44 69.5H28.5L0 27Z" fill="white"/>
                </svg>                    
                <input type="email" placeholder="Email:" name="username" autocomplete="off"><br>
            </div>
            <div class="input" style="margin-top: -2vw;">
                <svg class="input-svg" width="801" height="70" viewBox="0 0 801 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 1H800V69H49L3 1Z" stroke="white"/>
                    <path d="M0 27V4L44 69.5H28.5L0 27Z" fill="white"/>
                </svg>                    
                <input type="password" placeholder="Password:" name="password" autocomplete="off"><br>
            </div>
            <div class="input" style="margin-top: -2vw;">
                <svg class="input-svg" width="801" height="70" viewBox="0 0 801 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 1H800V69H49L3 1Z" stroke="white"/>
                    <path d="M0 27V4L44 69.5H28.5L0 27Z" fill="white"/>
                </svg>                    
                <input type="password" placeholder="Confirm Password:" name="cnfpassword" autocomplete="off"><br>
            </div>
            <button type="submit">
                <svg width="205" height="47" viewBox="0 0 205 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M114.448 30.1667H107.161V17.2302H108.411V28.9593H114.448V30.1667ZM126.114 30.1667H118.697V17.2302H126.114V18.4376H119.948V23.0948H125.791V24.3022H119.948V28.9593H126.114V30.1667ZM138.901 18.4376H135.214V30.1667H133.964V18.4376H130.277V17.2302H138.901V18.4376ZM151.939 27.3854C151.939 27.8166 151.853 28.1688 151.681 28.4419C151.551 28.6287 151.314 28.8947 150.969 29.2396C150.639 29.5846 150.38 29.8146 150.193 29.9296C149.834 30.1596 149.467 30.2746 149.093 30.2746H145.514C145.126 30.2746 144.752 30.1596 144.393 29.9296C143.976 29.6708 143.531 29.2181 143.056 28.5712C142.855 28.2981 142.697 28.0178 142.582 27.7304L143.811 27.3854L143.962 27.6441C144.106 27.9029 144.314 28.1688 144.587 28.4419C144.86 28.715 145.09 28.9018 145.277 29.0025C145.335 29.0456 145.435 29.0671 145.579 29.0671H149.007C149.108 29.0671 149.194 29.0456 149.266 29.0025C149.453 28.9018 149.69 28.7222 149.977 28.4634C150.279 28.1903 150.495 27.9388 150.624 27.7088C150.667 27.6226 150.689 27.5291 150.689 27.4285V26.0486C150.689 25.8186 150.624 25.6102 150.495 25.4234C150.366 25.2221 150.2 25.0928 149.999 25.0353L144.091 23.4182C143.689 23.3032 143.365 23.0588 143.121 22.6851C142.877 22.297 142.755 21.8658 142.755 21.3915V20.0547C142.755 19.6235 142.841 19.2713 143.013 18.9982C143.143 18.8114 143.373 18.5454 143.703 18.2005C144.048 17.8411 144.314 17.6039 144.501 17.489C144.86 17.259 145.227 17.144 145.601 17.144H148.813C149.187 17.144 149.553 17.259 149.913 17.489C150.33 17.7477 150.775 18.2005 151.25 18.8473C151.479 19.1779 151.645 19.4582 151.745 19.6882L150.495 20.0547L150.344 19.7744C150.215 19.5301 150.006 19.2713 149.719 18.9982C149.446 18.7107 149.216 18.5167 149.029 18.4161C148.957 18.3729 148.863 18.3514 148.748 18.3514H145.708C145.593 18.3514 145.5 18.3729 145.428 18.4161C145.227 18.5167 144.982 18.6964 144.695 18.9551C144.422 19.1995 144.221 19.4366 144.091 19.6666C144.034 19.7816 144.005 19.875 144.005 19.9469V21.3052C144.005 21.5208 144.07 21.7221 144.199 21.9089C144.328 22.0958 144.487 22.218 144.673 22.2755L150.56 23.9141C150.976 24.0291 151.307 24.2806 151.551 24.6687C151.81 25.0424 151.939 25.4593 151.939 25.9193V27.3854ZM165.821 30.1667H164.636L164.485 29.1103C164.125 29.5702 163.874 29.8433 163.73 29.9296C163.371 30.1596 163.004 30.2746 162.63 30.2746H159.31C158.922 30.2746 158.548 30.1596 158.189 29.9296C158.002 29.8146 157.743 29.5846 157.413 29.2396C157.082 28.8947 156.852 28.6287 156.723 28.4419C156.536 28.1544 156.442 27.8094 156.442 27.407V20.0547C156.442 19.6379 156.536 19.2857 156.723 18.9982C156.852 18.797 157.082 18.5239 157.413 18.1789C157.743 17.8339 158.002 17.6039 158.189 17.489C158.548 17.259 158.922 17.144 159.31 17.144H162.63C163.019 17.144 163.392 17.259 163.752 17.489C164.14 17.7333 164.585 18.1933 165.088 18.8688C165.333 19.2282 165.498 19.5013 165.584 19.6882L164.334 20.0547C164.204 19.7672 163.982 19.4582 163.665 19.1276C163.364 18.7826 163.098 18.5454 162.868 18.4161C162.81 18.3729 162.71 18.3514 162.566 18.3514H159.396C159.267 18.3514 159.174 18.3729 159.116 18.4161C158.929 18.5023 158.685 18.6892 158.383 18.9767C158.095 19.2641 157.887 19.5301 157.758 19.7744C157.715 19.8607 157.693 19.9685 157.693 20.0978V27.3638C157.693 27.4645 157.715 27.5579 157.758 27.6441C157.887 27.8885 158.095 28.1544 158.383 28.4419C158.685 28.7294 158.929 28.9162 159.116 29.0025C159.174 29.0456 159.274 29.0671 159.418 29.0671H162.523C162.638 29.0671 162.731 29.0456 162.803 29.0025C162.99 28.9162 163.234 28.7294 163.536 28.4419C163.838 28.14 164.053 27.8669 164.183 27.6226C164.226 27.5363 164.248 27.4429 164.248 27.3423V24.2159H161.294V23.0301H165.498V27.6226C165.498 28.1544 165.606 29.0025 165.821 30.1667ZM179.731 27.3854C179.731 27.8022 179.638 28.1544 179.451 28.4419C179.322 28.6287 179.092 28.8947 178.761 29.2396C178.431 29.5846 178.172 29.8146 177.985 29.9296C177.626 30.1596 177.252 30.2746 176.864 30.2746H173.457C173.083 30.2746 172.717 30.1596 172.358 29.9296C172.171 29.8146 171.905 29.5846 171.56 29.2396C171.229 28.8947 170.999 28.6287 170.87 28.4419C170.697 28.1688 170.611 27.8166 170.611 27.3854V20.0547C170.611 19.6235 170.697 19.2713 170.87 18.9982C170.999 18.8114 171.229 18.5454 171.56 18.2005C171.905 17.8411 172.171 17.6039 172.358 17.489C172.717 17.259 173.083 17.144 173.457 17.144H176.864C177.252 17.144 177.626 17.259 177.985 17.489C178.172 17.6039 178.431 17.8339 178.761 18.1789C179.092 18.5239 179.322 18.797 179.451 18.9982C179.638 19.2857 179.731 19.6379 179.731 20.0547V27.3854ZM178.481 27.3638V20.0978C178.481 19.9685 178.459 19.8607 178.416 19.7744C178.287 19.5301 178.071 19.2641 177.769 18.9767C177.482 18.6892 177.245 18.5023 177.058 18.4161C176.986 18.3729 176.893 18.3514 176.778 18.3514H173.565C173.436 18.3514 173.342 18.3729 173.285 18.4161C173.112 18.5023 172.875 18.6892 172.573 18.9767C172.286 19.2641 172.077 19.5301 171.948 19.7744C171.89 19.8894 171.862 19.9972 171.862 20.0978V27.3638C171.862 27.4357 171.89 27.5291 171.948 27.6441C172.077 27.8885 172.286 28.1544 172.573 28.4419C172.875 28.7294 173.112 28.9162 173.285 29.0025C173.342 29.0456 173.436 29.0671 173.565 29.0671H176.778C176.893 29.0671 176.986 29.0456 177.058 29.0025C177.245 28.9162 177.482 28.7294 177.769 28.4419C178.071 28.1544 178.287 27.8885 178.416 27.6441C178.459 27.5579 178.481 27.4645 178.481 27.3638Z" fill="white"/>
                    <path d="M204 1H55.8397L100.774 46H204V1Z" stroke="#FF0000" stroke-width="0.805611"/>
                    <path d="M89.0341 46L44.1002 1H24.2645L69.1984 46H89.0341Z" stroke="#FF0000" stroke-width="0.805611"/>
                    <path d="M58.0782 46L13.1443 1H1L45.9339 46H58.0782Z" stroke="#FF0000" stroke-width="0.805611"/>
                </svg>                    
            </button>
            <% if (error) { %>
            <p class="error"><%= error %></p>
            <% } %>
        </form>
    </div>
    <svg class="bottom-vector" width="988" height="39" viewBox="0 0 988 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M38.5 37.5L548.5 37.5M789 37.5L987 37.5V1L825.5 1L789 37.5ZM789 37.5L752.5 37.5M752.5 37.5L789 1L703.5 1L667 37.5M752.5 37.5L667 37.5M667 37.5L630 37.5M548.5 37.5L585 1L666.5 1L630 37.5M548.5 37.5L630 37.5M33 37.5H22M17.5 37.5H10M5.5 37.5H0" stroke="#FF0000"/>
        <path d="M847.5 1.18359L811 37.6836L832 37.6836L868 1.18359L847.5 1.18359Z" fill="#FF0000" stroke="#FF0000"/>
        <path d="M881.499 1L844.999 37.5L865.999 37.5L901.999 1L881.499 1Z" fill="#FF0000" stroke="#FF0000"/>
    </svg>   
</body>
<style>
    * { 
        height: fit-content;
    }
    body {
        height: 100vh;
        width: 100%;
        background-image: linear-gradient(#000615, #190000);
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    @font-face 
    {
        font-family:BlenderProBook;
        font-style:normal;
        font-weight:400;
        src:url('./BlenderProBook.woff2') format("woff2");
    }
    @font-face 
    {
        font-family:sentex;
        font-style:normal;
        font-weight:400;
        src:url('./Sentex-Regular.ttf');
    }
    .bottom-vector {
        position: absolute;
        bottom: 0;
        right: 1vw;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        align-self: center;
        gap: 1vw;
    }
    .lines {
        align-self: flex-start;
        margin-left: 2vw;
        width: 11.719vw;
    }
    .login-text {
        width: 41.667vw;
    }
    .input {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .input > input {
        position: absolute;
        top: 0.8vw;
        left: 3vw;
        width: 37vw;
        height: 2vw;
        background: transparent;
        border: none;
        outline: none;
        z-index: 5;
        color: #FF0000;
        font-family: BlenderProBook;
        font-size: 1.2vw;
    }
    input::placeholder {
        color: #FF0000;
    }
    .input-svg {
        width: 41.667vw;
    }
    .something {
        align-self: center;
        justify-content: center;
        display: flex;
        height: calc(85vh - 7.2917vh);
    }
    button {
        background: transparent;
        outline: none;
        border: none;
        align-self: flex-end;
        margin-right: -0.5vw;
        margin-top: -2vw;
        cursor: pointer;
    }
    button > svg {
        width: 10.573vw;
    }
    .error {
        color: #FF0000;
        font-family: BlenderProBook;
    }
</style>
</html>