<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://media.discordapp.net/attachments/1175006936194883635/1178349781102379028/image.png?ex=6575d2c0&is=65635dc0&hm=58fd4042565443e2cccc43fc06369caa8a5294ec0905071aaeb89a35f5909180&=&format=webp&width=465&height=465" type="image/png">
    <title>Snake Game</title>
    <style>
    body {
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(#000615, #190000);
        overflow-x: hidden;
        background-size: contain;
        display: flex;
        flex-direction: column;
        margin: 0px;
        background-repeat:no-repeat;
    }
    @font-face 
    {
        font-family:BlenderProBook;
        font-style:normal;
        font-weight:400;
        src:url('/BlenderProBook.woff2') format("woff2");
    }
    @font-face 
    {
        font-family:BlenderProHeavy;
        font-style:normal;
        font-weight:700;
        src:url('/BlenderPro-Heavy.woff2') format("woff2");
    }
    @font-face 
    {
        font-family:sentex;
        font-style:normal;
        font-weight:400;
        src:url('/Sentex-Regular.ttf');
    }
    .controls {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    .playArea {
        background-color: #222;
        width: 60vw;
        height: 50vh;
        clip-path: polygon(0% 0, 90% 0%, 100% 21%, 100% 100%, 0 100%);
        position: relative;
    }
    .mainControls {
        display: flex;
        flex-direction: column;
    }
    .playAreaKeBaapKaBaap {
        clip-path: polygon(0% 0, 90% 0%, 100% 21%, 100% 100%, 0 100%);
        width: 62vw;
        height: 55vh;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .playAreaKaBaap {
        clip-path: polygon(0% 0, 90% 0%, 100% 21%, 100% 100%, 0 100%);
        width: calc(62vw - 4px);
        height: calc(55vh - 4px);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
    }
    .grid {
        display: flex;
        flex-direction: column;
        border: 1px solid #000;
        width: 100%;
        height: 100%;
    }
    .row {
        display: flex;
        flex-direction: row;
        flex: 1;
    }
    .box {
        /* border: 1px solid #000; */
        flex: 1;
    }
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        align-items: center;
        justify-content: center;
    }
    .container > h1 {
        color: #fff;
        font-family: BlenderProHeavy;
        font-size: 6.667vw;
        margin-top: -2vw;
    }
    </style>
</head>
<body>
    <%- include('./partials/navbar') %>
    <% if (Number(user.snakeCooldown) > new Date()) { %>
        <div class="container">
            <svg style="width: 31.515vw;" width="624" height="85" viewBox="0 0 624 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M99.3371 27.0727V46.2842C99.3371 46.6116 99.6644 47.1026 100.319 47.7573C101.015 48.3711 101.629 48.8212 102.16 49.1076H102.222C102.304 49.1486 102.386 49.169 102.467 49.169H110.815L111.122 49.1076C111.613 48.8212 112.206 48.3302 112.902 47.6345C113.597 46.9389 113.945 46.4274 113.945 46.1001V40.1463H106.027V34.0085H120.39V46.407C120.676 49.1076 121.065 51.972 121.556 55H115.234L114.927 53.5269C113.25 54.7136 111.981 55.3069 111.122 55.3069H102.16C100.81 55.3069 99.5417 54.9386 98.355 54.2021C97.7412 53.8338 96.9433 53.1791 95.9612 52.238C94.9792 51.2559 94.2835 50.4784 93.8743 49.9056C93.2196 48.9235 92.8923 47.7368 92.8923 46.3456V26.9499C92.8923 25.5996 93.2196 24.4334 93.8743 23.4513C94.2835 22.8375 94.9792 22.0396 95.9612 21.0575C96.9842 20.0346 97.7821 19.3594 98.355 19.032C99.4598 18.3364 100.728 17.9886 102.16 17.9886H111.122C113.945 17.9886 116.544 19.6867 118.917 23.083C119.531 23.9423 119.96 24.6584 120.206 25.2313L114.007 27.0113C113.106 25.7837 112.145 24.8426 111.122 24.1878C111.081 24.1469 110.979 24.1265 110.815 24.1265H102.467L102.16 24.1878C101.056 24.8016 100.135 25.6814 99.3984 26.8271L99.3371 27.0727ZM158.485 55H151.611L148.91 47.2049H134.977L132.276 55H125.402L138.23 18.2955H145.718L158.485 55ZM146.885 41.067L141.974 26.5816L137.003 41.067H146.885ZM194.995 55H188.55V29.8961L181.246 45.9773H177.011L169.707 29.9575V55H163.262V18.2955H170.628L179.221 36.4022L187.691 18.2955H194.995V55ZM226.92 55H203.842V18.2955H226.92V24.4334H210.286V33.7016H225.754V39.8394H210.286V48.8621H226.92V55ZM275.96 47.8801C275.551 48.8212 275.121 49.5987 274.671 50.2125C272.134 53.6087 269.536 55.3069 266.876 55.3069H259.204C257.854 55.3069 256.585 54.9386 255.398 54.2021C254.785 53.8338 253.987 53.1586 253.005 52.1766C252.023 51.1945 251.327 50.4171 250.918 49.8442C250.263 48.8621 249.936 47.6959 249.936 46.3456V27.0113C249.936 25.7019 250.263 24.5561 250.918 23.5741C251.327 22.9603 252.023 22.1624 253.005 21.1803C254.028 20.1573 254.825 19.4821 255.398 19.1548C256.708 18.4182 257.976 18.05 259.204 18.05H266.876C269.495 18.05 272.093 19.7481 274.671 23.1444C274.917 23.4718 275.346 24.1878 275.96 25.2927L269.7 27.0727C268.472 25.5586 267.551 24.6175 266.938 24.2492C266.897 24.2083 266.815 24.1878 266.692 24.1878H259.449L259.204 24.2492C258.14 24.8221 257.219 25.7223 256.442 26.9499C256.401 27.0317 256.38 27.2568 256.38 27.6251V46.2842C256.38 46.6116 256.708 47.1026 257.362 47.7573C258.058 48.3711 258.672 48.8212 259.204 49.1076C259.245 49.1486 259.388 49.169 259.634 49.169H266.631C266.753 49.169 266.856 49.1486 266.938 49.1076C267.306 48.944 267.715 48.6166 268.165 48.1256C268.656 47.6345 269.045 47.1844 269.331 46.7752L269.7 46.2228L275.96 47.8801ZM311.789 46.2842C311.789 47.6345 311.462 48.8007 310.807 49.7828C310.316 50.4375 309.58 51.2559 308.597 52.238C307.656 53.22 306.899 53.8747 306.326 54.2021C305.14 54.9386 303.871 55.3069 302.521 55.3069H293.191C291.841 55.3069 290.573 54.9386 289.386 54.2021C288.813 53.8747 288.015 53.22 286.992 52.238C286.01 51.215 285.314 50.3966 284.905 49.7828C284.251 48.8007 283.923 47.6345 283.923 46.2842V27.0727C283.923 25.7223 284.251 24.5561 284.905 23.5741C285.314 22.9603 286.01 22.1624 286.992 21.1803C288.015 20.1573 288.813 19.4821 289.386 19.1548C290.573 18.4182 291.841 18.05 293.191 18.05H302.521C303.871 18.05 305.14 18.4182 306.326 19.1548C306.899 19.4821 307.656 20.1368 308.597 21.1189C309.58 22.101 310.316 22.9194 310.807 23.5741C311.462 24.5561 311.789 25.7223 311.789 27.0727V46.2842ZM290.368 27.2568V46.2228C290.368 46.3456 290.388 46.4274 290.429 46.4683C291.248 47.6959 292.148 48.5757 293.13 49.1076C293.212 49.1486 293.314 49.169 293.437 49.169H302.275C302.398 49.169 302.501 49.1486 302.582 49.1076C303.564 48.5757 304.465 47.6959 305.283 46.4683L305.344 46.2228V27.2568C305.344 27.0931 305.324 26.9908 305.283 26.9499C304.424 25.6814 303.524 24.7812 302.582 24.2492C302.501 24.2083 302.398 24.1878 302.275 24.1878H293.437C293.273 24.1878 293.171 24.2083 293.13 24.2492C292.189 24.7812 291.289 25.6814 290.429 26.9499L290.368 27.2568ZM347.933 46.2842C347.933 47.6345 347.606 48.8007 346.951 49.7828C346.46 50.4375 345.723 51.2559 344.741 52.238C343.8 53.22 343.043 53.8747 342.47 54.2021C341.284 54.9386 340.015 55.3069 338.665 55.3069H329.335C327.985 55.3069 326.717 54.9386 325.53 54.2021C324.957 53.8747 324.159 53.22 323.136 52.238C322.154 51.215 321.458 50.3966 321.049 49.7828C320.395 48.8007 320.067 47.6345 320.067 46.2842V27.0727C320.067 25.7223 320.395 24.5561 321.049 23.5741C321.458 22.9603 322.154 22.1624 323.136 21.1803C324.159 20.1573 324.957 19.4821 325.53 19.1548C326.717 18.4182 327.985 18.05 329.335 18.05H338.665C340.015 18.05 341.284 18.4182 342.47 19.1548C343.043 19.4821 343.8 20.1368 344.741 21.1189C345.723 22.101 346.46 22.9194 346.951 23.5741C347.606 24.5561 347.933 25.7223 347.933 27.0727V46.2842ZM326.512 27.2568V46.2228C326.512 46.3456 326.532 46.4274 326.573 46.4683C327.392 47.6959 328.292 48.5757 329.274 49.1076C329.356 49.1486 329.458 49.169 329.581 49.169H338.419C338.542 49.169 338.644 49.1486 338.726 49.1076C339.708 48.5757 340.609 47.6959 341.427 46.4683L341.488 46.2228V27.2568C341.488 27.0931 341.468 26.9908 341.427 26.9499C340.568 25.6814 339.667 24.7812 338.726 24.2492C338.644 24.2083 338.542 24.1878 338.419 24.1878H329.581C329.417 24.1878 329.315 24.2083 329.274 24.2492C328.333 24.7812 327.433 25.6814 326.573 26.9499L326.512 27.2568ZM378.86 55H356.15V18.2955H362.595V48.8621H378.86V55ZM411.604 46.1001C411.604 47.5322 411.297 48.6984 410.683 49.5987C410.274 50.1715 409.578 50.949 408.596 51.9311C407.614 52.8722 406.796 53.5269 406.141 53.8952C404.831 54.6317 403.604 55 402.458 55H385.64V18.2955H402.458C403.89 18.2955 405.138 18.6433 406.202 19.3389C406.816 19.7072 407.593 20.3824 408.535 21.3644C409.476 22.3465 410.171 23.1649 410.621 23.8196C411.276 24.7198 411.604 25.886 411.604 27.3182V46.1001ZM392.085 48.8621H402.028C402.274 48.8621 402.417 48.8417 402.458 48.8007C402.949 48.5143 403.522 48.0642 404.177 47.4504C404.831 46.7957 405.159 46.3047 405.159 45.9773V27.5023C405.159 27.3795 405.138 27.2772 405.097 27.1954C404.32 25.9269 403.42 25.0267 402.397 24.4947C402.356 24.4538 402.172 24.4334 401.844 24.4334H392.085V48.8621ZM448.153 46.2842C448.153 47.6345 447.826 48.8007 447.171 49.7828C446.68 50.4375 445.944 51.2559 444.961 52.238C444.02 53.22 443.263 53.8747 442.69 54.2021C441.504 54.9386 440.235 55.3069 438.885 55.3069H429.555C428.205 55.3069 426.937 54.9386 425.75 54.2021C425.177 53.8747 424.379 53.22 423.356 52.238C422.374 51.215 421.678 50.3966 421.269 49.7828C420.615 48.8007 420.287 47.6345 420.287 46.2842V27.0727C420.287 25.7223 420.615 24.5561 421.269 23.5741C421.678 22.9603 422.374 22.1624 423.356 21.1803C424.379 20.1573 425.177 19.4821 425.75 19.1548C426.937 18.4182 428.205 18.05 429.555 18.05H438.885C440.235 18.05 441.504 18.4182 442.69 19.1548C443.263 19.4821 444.02 20.1368 444.961 21.1189C445.944 22.101 446.68 22.9194 447.171 23.5741C447.826 24.5561 448.153 25.7223 448.153 27.0727V46.2842ZM426.732 27.2568V46.2228C426.732 46.3456 426.752 46.4274 426.793 46.4683C427.612 47.6959 428.512 48.5757 429.494 49.1076C429.576 49.1486 429.678 49.169 429.801 49.169H438.639C438.762 49.169 438.865 49.1486 438.946 49.1076C439.928 48.5757 440.829 47.6959 441.647 46.4683L441.708 46.2228V27.2568C441.708 27.0931 441.688 26.9908 441.647 26.9499C440.788 25.6814 439.887 24.7812 438.946 24.2492C438.865 24.2083 438.762 24.1878 438.639 24.1878H429.801C429.637 24.1878 429.535 24.2083 429.494 24.2492C428.553 24.7812 427.653 25.6814 426.793 26.9499L426.732 27.2568ZM496.757 18.2955L488.225 55H480.921L475.029 30.3871L469.075 55H461.71L453.301 18.2955H459.93L465.454 44.0746L471.53 18.2955H478.405L484.481 44.0746L489.944 18.2955H496.757ZM527.648 55H520.835L508.129 30.6326V55H501.685V18.2955H508.62L521.203 42.9698V18.2955H527.648V55Z" fill="white"/>
                <path d="M283.702 84H275.405V69.5299H283.702V70.8805H276.804V76.0897H283.34V77.4402H276.804V82.6495H283.702V84ZM296.895 84H295.086L288.791 71.6522V84H287.441V69.5299H289.298L295.544 81.9983V69.5299H296.895V84ZM310.202 80.7925C310.202 81.2587 310.106 81.6446 309.913 81.9501C309.768 82.1591 309.511 82.4565 309.141 82.8424C308.771 83.2283 308.482 83.4855 308.273 83.6141C307.871 83.8714 307.461 84 307.043 84H300.676V69.5299H307.043C307.493 69.5299 307.903 69.6505 308.273 69.8917C308.482 70.0203 308.771 70.2856 309.141 70.6875C309.511 71.0734 309.768 71.3789 309.913 71.604C310.106 71.9094 310.202 72.2953 310.202 72.7616V80.7925ZM308.804 72.8098C308.804 72.6651 308.78 72.5445 308.731 72.4481C308.587 72.1747 308.353 71.8853 308.032 71.5799C307.71 71.2583 307.445 71.0493 307.236 70.9528C307.156 70.9046 307.051 70.8805 306.923 70.8805H302.075V82.6495H306.923C307.051 82.6495 307.156 82.6253 307.236 82.5771C307.445 82.4806 307.71 82.2716 308.032 81.9501C308.353 81.6285 308.587 81.3311 308.731 81.0578C308.78 80.9613 308.804 80.8568 308.804 80.7442V72.8098ZM323.779 80.8889C323.779 81.3713 323.682 81.7652 323.489 82.0707C323.345 82.2797 323.079 82.5771 322.694 82.963C322.324 83.3488 322.034 83.6061 321.825 83.7347C321.423 83.992 321.013 84.1206 320.595 84.1206H316.592C316.158 84.1206 315.74 83.992 315.338 83.7347C314.872 83.4453 314.373 82.9389 313.843 82.2154C313.618 81.9099 313.441 81.5964 313.312 81.2748L314.687 80.8889L314.856 81.1783C315.016 81.4677 315.25 81.7652 315.555 82.0707C315.86 82.3761 316.118 82.5851 316.327 82.6977C316.391 82.7459 316.504 82.77 316.664 82.77H320.499C320.611 82.77 320.708 82.7459 320.788 82.6977C320.997 82.5851 321.263 82.3842 321.584 82.0948C321.922 81.7893 322.163 81.5079 322.308 81.2507C322.356 81.1542 322.38 81.0497 322.38 80.9372V79.3937C322.38 79.1364 322.308 78.9033 322.163 78.6943C322.018 78.4692 321.833 78.3245 321.608 78.2602L315 76.4514C314.55 76.3228 314.188 76.0495 313.915 75.6315C313.642 75.1974 313.505 74.715 313.505 74.1845V72.6892C313.505 72.2069 313.602 71.813 313.794 71.5075C313.939 71.2985 314.196 71.001 314.566 70.6152C314.952 70.2132 315.25 69.9479 315.459 69.8193C315.86 69.5621 316.27 69.4335 316.688 69.4335H320.282C320.7 69.4335 321.11 69.5621 321.512 69.8193C321.978 70.1087 322.477 70.6152 323.007 71.3387C323.264 71.7085 323.449 72.022 323.562 72.2792L322.163 72.6892L321.994 72.3757C321.849 72.1024 321.616 71.813 321.295 71.5075C320.989 71.1859 320.732 70.9689 320.523 70.8563C320.443 70.8081 320.338 70.784 320.21 70.784H316.809C316.68 70.784 316.576 70.8081 316.496 70.8563C316.27 70.9689 315.997 71.1699 315.676 71.4593C315.37 71.7326 315.145 71.9979 315 72.2551C314.936 72.3837 314.904 72.4883 314.904 72.5686V74.088C314.904 74.3292 314.976 74.5543 315.121 74.7633C315.266 74.9723 315.442 75.1089 315.651 75.1733L322.235 77.0061C322.702 77.1348 323.071 77.4161 323.345 77.8502C323.634 78.2682 323.779 78.7345 323.779 79.249V80.8889ZM333.893 84H332.494V69.5299H333.893V84ZM347.177 84H345.368L339.074 71.6522V84H337.723V69.5299H339.58L345.827 81.9983V69.5299H347.177V84Z" fill="#FF0000"/>
                <circle cx="35.3261" cy="35.3696" r="26.4747" stroke="#FF0000" stroke-width="2.07011"/>
                <circle cx="35.4036" cy="35.4481" r="22.0073" stroke="#FF0000" stroke-width="2.07011" stroke-linecap="round" stroke-dasharray="1.04 20.7"/>
                <circle cx="35.9378" cy="35.4173" r="1.33238" fill="white"/>
                <line x1="35.7646" y1="0.962891" x2="35.7646" y2="70.8736" stroke="#FF0000" stroke-width="1.03506"/>
                <line x1="0.448242" y1="35.2442" x2="70.359" y2="35.2442" stroke="#FF0000" stroke-width="1.03506"/>
                <circle cx="35.3249" cy="35.3698" r="11.0036" stroke="#FF0000" stroke-width="1.03506"/>
                <circle cx="588.045" cy="35.3696" r="26.4747" stroke="#FF0000" stroke-width="2.07011"/>
                <circle cx="588.123" cy="35.4481" r="22.0073" stroke="#FF0000" stroke-width="2.07011" stroke-linecap="round" stroke-dasharray="1.04 20.7"/>
                <circle cx="588.658" cy="35.4173" r="1.33238" fill="white"/>
                <line x1="588.484" y1="0.962891" x2="588.484" y2="70.8736" stroke="#FF0000" stroke-width="1.03506"/>
                <line x1="553.168" y1="35.2442" x2="623.079" y2="35.2442" stroke="#FF0000" stroke-width="1.03506"/>
                <circle cx="588.045" cy="35.3698" r="11.0036" stroke="#FF0000" stroke-width="1.03506"/>
            </svg>            
            <h1 id="timer">29 : 30</h1>
        </div>
    <% } else { %>
    <div style="display: flex; justify-content: center; padding-top: 20px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="799" height="120" viewBox="0 0 799 120" fill="none">
            <path d="M1 44.5V119H798.5V1H41L1 44.5Z" fill="#08040F" stroke="#FF0000"/>
            <text x="50%" y="35%" dominant-baseline="middle" text-anchor="middle" fill="red" style="font-family: BlenderProBook; font-weight: bold; font-size: 1.5em;">CLASSICS NEVER GO OUT OF STYLE</text>
            <text x="50%" y="65%" dominant-baseline="middle" text-anchor="middle" fill="white" style="font-family: BlenderProBook; font-weight: bold; font-size: 1.7em;">5N4K3 G4M3</text>
        </svg>
    </div>
    <div class="controls">
        <div class="mainControls">
            <svg xmlns="http://www.w3.org/2000/svg" width="225" height="34" viewBox="0 0 225 34" fill="none" style="margin-bottom: 10px; position: absolute;">
                <path d="M12.1627 33.1081L28.3789 16.8919L11.487 0L0.000553131 0L16.8924 16.8919L0.676228 33.1081H12.1627Z" fill="white"/>
                <path d="M40.2701 33.1081L56.4863 16.8919L39.4593 0L28.108 0L44.9999 16.8919L28.7836 33.1081H40.2701Z" fill="white"/>
                <path d="M68.2428 33.1081L84.459 16.8919L67.5671 0L56.0806 0L72.9725 16.8919L56.7563 33.1081H68.2428Z" fill="white"/>
                <path d="M96.3551 33.1081L112.571 16.8919L95.5442 0L84.1929 0L101.085 16.8919L84.8686 33.1081H96.3551Z" fill="white"/>
                <path d="M124.732 33.1081L140.813 16.8919L123.922 0L112.57 0L129.462 16.8919L113.246 33.1081H124.732Z" fill="white"/>
                <path d="M152.704 33.1081L168.92 16.8919L152.028 0L140.542 0L157.433 16.8919L141.217 33.1081H152.704Z" fill="white"/>
                <path d="M180.812 33.1081L196.893 16.8919L180.001 0L168.649 0L185.541 16.8919L169.325 33.1081H180.812Z" fill="white"/>
                <path d="M208.785 33.1081L225.001 16.8919L208.109 0L196.623 0L213.514 16.8919L197.298 33.1081H208.785Z" fill="white"/>
            </svg>
            <h1 style="text-align: center; margin: 0px; font-family: BlenderProBook; color: white;" id="pointsh1">Points: 0</h1>
            <div class="playAreaKeBaapKaBaap">
                <div class="playAreaKaBaap">
                    <div class="playArea" id="playArea">
                        <div class="grid">
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <script>
        <% if ((Number(user.snakeCooldown) > new Date())) { %>
            const newDate2 = new Date()
            const snakeDate2 = <%= Number(user.snakeCooldown) %>
            // console.log(Number(newDate))
            // console.log(snakeDate)
            // console.log(Number(snakeDate - newDate) / 60000)
            // console.log(Math.round(Number(snakeDate - newDate) / 1000) % 60)
            // console.log(Math.round(Number(snakeDate - newDate) / 1000) % 60)
            document.getElementById('timer').innerText = (Math.floor(Number(snakeDate2 - newDate2) / 60000) + ' : ' + Math.round(Number(snakeDate2 - newDate2) / 1000) % 60)
            setInterval(() => {
                const newDate = new Date()
                const snakeDate = <%= Number(user.snakeCooldown) %>
                // console.log(Number(newDate))
                // console.log(snakeDate)
                // console.log(Number(snakeDate - newDate) / 60000)
                // console.log(Math.round(Number(snakeDate - newDate) / 1000) % 60)
                // console.log(Math.round(Number(snakeDate - newDate) / 1000) % 60)
                document.getElementById('timer').innerText = (Math.floor(Number(snakeDate - newDate) / 60000) + ' : ' + Math.round(Number(snakeDate - newDate) / 1000) % 60)
            }, 1000)
        <% } else { %>
        window.onload = function() {
            var gameOver = false;
            const coords = [[3, 19], [5, 19], [7, 19]]
            var points = 0
            const khaanaCoords = []
            var movingDirection = 'right'
            var pastDirection = 'start'
            var doable = true
            getBox(3, 19).style.backgroundColor = 'red'
            getBox(5, 19).style.backgroundColor = 'red'
            getBox(7, 19).style.backgroundColor = 'red'
            const gameInterval = window.setInterval(function() {
                if (gameOver) {
                    const xhttp = new XMLHttpRequest()
                    clearInterval(gameInterval)
                    alert("GAME OVER! You scored " + points + " points! So, you earned " + (points*2) + " coins!")
                    xhttp.open("POST", "/snake");
                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    xhttp.send("score=" + points);
                    window.location.href='/snake'
                }
                if (movingDirection == 'right') moveRight()
                if (movingDirection == 'left') moveLeft()
                if (movingDirection == 'up') moveUp()
                if (movingDirection == 'down') moveDown()
                for (let i = 0; i < khaanaCoords.length; i++) {
                    if (khaanaCoords[i][0] == coords[coords.length - 1][0] && khaanaCoords[i][1] == coords[coords.length - 1][1]) {
                        points += 1
                        document.getElementById('pointsh1').innerHTML = "Points: " + points
                        console.log('POINT BEHENCHOD')
                        if (movingDirection == 'right') coords.unshift([coords[0][0] - 2, khaanaCoords[i][1]])
                        if (movingDirection == 'left') coords.unshift([coords[0][0] + 2, khaanaCoords[i][1]])
                        if (movingDirection == 'up') coords.unshift([khaanaCoords[i][0], coords[i][1] + 2])
                        if (movingDirection == 'down') coords.unshift([khaanaCoords[i][0], coords[i][1] - 2])
                    }
                }
            }, 200)
            window.setInterval(function() {
                const randomX = Math.ceil(Math.random() * 30)
                const randomY = Math.ceil(Math.random() * 20)
                for (let i = 0; i < coords.length; i++) {
                    if (coords[i][0] == randomX && coords[i][1] == randomY) return;
                }
                getBox(randomX, randomY).style.backgroundColor = 'white'
                khaanaCoords.push([randomX, randomY])
            }, 4000)
            window.addEventListener('keyup', function(event) {
                if (event.keyCode == 37) {
                    if (movingDirection == 'right') {
                        return movingDirection = 'right'
                    }
                    if (movingDirection == 'left') {
                        return movingDirection == 'left'
                    }
                    pastDirection = movingDirection
                    movingDirection = 'left'
                }
                if (event.keyCode == 38) {
                    if (movingDirection == 'up') {
                        return movingDirection = 'up'
                    }
                    if (movingDirection == 'down') {
                        return movingDirection == 'down'
                    }
                    pastDirection = movingDirection
                    movingDirection = 'up'
                }
                if (event.keyCode == 39) {
                    if (movingDirection == 'right') {
                        return movingDirection = 'right'
                    }
                    if (movingDirection == 'left') {
                        return movingDirection == 'left'
                    }
                    pastDirection = movingDirection
                    movingDirection = 'right'
                }
                if (event.keyCode == 40) {
                    if (movingDirection == 'up') {
                        return movingDirection = 'up'
                    }
                    if (movingDirection == 'down') {
                        return movingDirection == 'down'
                    }
                    pastDirection = movingDirection
                    movingDirection = 'down'
                }
            })
            function moveRight() {
                try {
                    if (pastDirection == 'up') {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length - 1][1]]
                        if (mainCoords[0] >= 30) {
                            gameOver = true;
                        };
                        for (let i = 0; i < coords.length; i++) {
                            if (mainCoords[1] == coords[i][1]) {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0] + 1, coords[i][1]).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0] + 1, coords[i][1]]
                            } else {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0], coords[i][1] - 1).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0], coords[i][1] - 1]
                            }
                        }
                    } else if (pastDirection == 'down') {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length - 1][1]]
                        if (mainCoords[0] >= 30) {
                            gameOver = true;
                        };
                        for (let i = 0; i < coords.length; i++) {
                            if (mainCoords[1] == coords[i][1]) {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0] + 1, coords[i][1]).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0] + 1, coords[i][1]]
                            } else {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0], coords[i][1] + 1).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0], coords[i][1] + 1]
                            }
                        }
                    } else {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length - 1][1]]
                        if (mainCoords[0] >= 30) {
                            gameOver = true;
                        };
                        for (let i = 0; i < coords.length; i++) {
                            getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                            getBox(coords[i][0] + 1, coords[i][1]).style.backgroundColor = 'red'
                            coords[i] = [coords[i][0] + 1, coords[i][1]]
                        }
                    }
                } catch (err) {
                    gameOver = true
                }
            }
            function moveDown() {
                try {
                    
                    if (pastDirection == 'right') {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length-1][1]]
                        if (mainCoords[1] >= 20) {
                            gameOver = true;
                        };
                        console.log(mainCoords)
                        for (let i = 0; i < coords.length; i++) {
                            if (mainCoords[0] == coords[i][0]) {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0], coords[i][1] + 1).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0], coords[i][1] + 1]
                            } else {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0] + 1, coords[i][1]).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0] + 1, coords[i][1]]
                            }
                        }
                    } else if (pastDirection == 'left') {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length-1][1]]
                        if (mainCoords[1] >= 20) {
                            gameOver = true;
                        };
                        console.log(mainCoords)
                        for (let i = 0; i < coords.length; i++) {
                            if (mainCoords[0] == coords[i][0]) {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0], coords[i][1] + 1).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0], coords[i][1] + 1]
                            } else {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0] - 1, coords[i][1]).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0] - 1, coords[i][1]]
                            }
                        }
                    } else {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length - 1][1]]
                        if (mainCoords[1] >= 20) {
                            gameOver = true;
                        };
                        for (let i = 0; i < coords.length; i++) {
                            getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                            getBox(coords[i][0], coords[i][1] + 1).style.backgroundColor = 'red'
                            coords[i] = [coords[i][0], coords[i][1] + 1]
                        }
                    }
                } catch (error) {
                    gameOver = true
                }
            }
            function moveUp() {
                try {
                    
                    if (pastDirection == 'right') {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length-1][1]]
                        if (mainCoords[1] <= 1) {
                            gameOver = true;
                        };
                        console.log(mainCoords)
                        for (let i = 0; i < coords.length; i++) {
                            console.log("Main Coords", mainCoords[1])
                            console.log("coords i", coords[i])
                            if (mainCoords[0] == coords[i][0]) {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0], coords[i][1] - 1).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0], coords[i][1] -1]
                            } else {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0] + 1, coords[i][1]).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0] + 1, coords[i][1]]
                            }
                        }
                    } else if (pastDirection == 'left') {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length-1][1]]
                        if (mainCoords[1] <= 1) {
                            gameOver = true;
                        };
                        console.log(mainCoords)
                        for (let i = 0; i < coords.length; i++) {
                            if (mainCoords[0] == coords[i][0]) {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0], coords[i][1] - 1).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0], coords[i][1] - 1]
                            } else {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0] - 1, coords[i][1]).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0] - 1, coords[i][1]]
                            }
                        }
                    } else {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length - 1][1]]
                        if (mainCoords[1] <= 1) {
                            gameOver = true;
                        };
                        for (let i = 0; i < coords.length; i++) {
                            getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                            getBox(coords[i][0], coords[i][1] - 1).style.backgroundColor = 'red'
                            coords[i] = [coords[i][0], coords[i][1] -1]
                        }
                    }
                    
                } catch (error) {
                    gameOver = true
                }
            }
            function moveLeft() {
                try {
                    if (pastDirection == 'up') {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length - 1][1]]
                        if (mainCoords[0] <= 1) {
                            gameOver = true;
                        };
                        for (let i = 0; i < coords.length; i++) {
                            if (mainCoords[1] == coords[i][1]) {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0] - 1, coords[i][1]).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0] - 1, coords[i][1]]
                            } else {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0], coords[i][1] - 1).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0], coords[i][1] - 1]
                            }
                        }
                    } else if (pastDirection == 'down') {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length - 1][1]]
                        if (mainCoords[0] <= 1) {
                            gameOver = true;
                        };
                        for (let i = 0; i < coords.length; i++) {
                            if (mainCoords[1] == coords[i][1]) {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0] - 1, coords[i][1]).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0] - 1, coords[i][1]]
                            } else {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0], coords[i][1] + 1).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0], coords[i][1] + 1]
                            }
                        }
                    } else {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length - 1][1]]
                        if (mainCoords[0] <= 1) {
                            gameOver = true;
                        };
                        for (let i = 0; i < coords.length; i++) {
                            getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                            getBox(coords[i][0] - 1, coords[i][1]).style.backgroundColor = 'red'
                            coords[i] = [coords[i][0] - 1, coords[i][1]]
                        }
                    }
                } catch (error) {
                    gameOver = true
                }
                    
                }
        }
        function getBox(x, y) {
            const rows = document.getElementsByClassName('row')
            for (let i = 0; i < rows.length; i++) {
                const boxes = rows[i].children
                for (let j = 0; j < boxes.length; j++) {
                    if (i == y - 1 && j == x - 1) {
                        return boxes[j]
                    }
                }
            }
        }
        function getId(id) {
            return document.getElementById(id)
        }
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1) + min)
        }
        <% } %>
    </script>
</body>
</html>