<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://media.discordapp.net/attachments/1175006936194883635/1178349781102379028/image.png?ex=6575d2c0&is=65635dc0&hm=58fd4042565443e2cccc43fc06369caa8a5294ec0905071aaeb89a35f5909180&=&format=webp&width=465&height=465" type="image/png">
    <title>Snake Game</title>
    <style>
    body {
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(#000615, #190000);
        overflow-x: hidden;
        background-size: contain;
        display: flex;
        flex-direction: column;
        margin: 0px;
        background-repeat:no-repeat;
    }
    @font-face 
    {
        font-family:BlenderProBook;
        font-style:normal;
        font-weight:400;
        src:url('../BlenderProBook.woff2') format("woff2");
    }
    @font-face 
    {
        font-family:sentex;
        font-style:normal;
        font-weight:400;
        src:url('./Sentex-Regular.ttf');
    }
    .controls {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    .playArea {
        background-color: #222;
        width: 60vw;
        height: 50vh;
        clip-path: polygon(0% 0, 90% 0%, 100% 21%, 100% 100%, 0 100%);
        position: relative;
    }
    .mainControls {
        display: flex;
        flex-direction: column;
    }
    .playAreaKeBaapKaBaap {
        clip-path: polygon(0% 0, 90% 0%, 100% 21%, 100% 100%, 0 100%);
        width: 62vw;
        height: 55vh;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .playAreaKaBaap {
        clip-path: polygon(0% 0, 90% 0%, 100% 21%, 100% 100%, 0 100%);
        width: calc(62vw - 4px);
        height: calc(55vh - 4px);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
    }
    .grid {
        display: flex;
        flex-direction: column;
        border: 1px solid #000;
        width: 100%;
        height: 100%;
    }
    .row {
        display: flex;
        flex-direction: row;
        flex: 1;
    }
    .box {
        /* border: 1px solid #000; */
        flex: 1;
    }
    </style>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div style="display: flex; justify-content: center; padding-top: 20px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="799" height="120" viewBox="0 0 799 120" fill="none">
            <path d="M1 44.5V119H798.5V1H41L1 44.5Z" fill="#08040F" stroke="#FF0000"/>
            <text x="50%" y="35%" dominant-baseline="middle" text-anchor="middle" fill="red" style="font-family: BlenderProBook; font-weight: bold; font-size: 1.5em;">CLASSICS NEVER GO OUT OF STYLE</text>
            <text x="50%" y="65%" dominant-baseline="middle" text-anchor="middle" fill="white" style="font-family: BlenderProBook; font-weight: bold; font-size: 1.7em;">5N4K3 G4M3</text>
        </svg>
    </div>
    <div class="controls">
        <div class="mainControls">
            <svg xmlns="http://www.w3.org/2000/svg" width="225" height="34" viewBox="0 0 225 34" fill="none" style="margin-bottom: 10px; position: absolute;">
                <path d="M12.1627 33.1081L28.3789 16.8919L11.487 0L0.000553131 0L16.8924 16.8919L0.676228 33.1081H12.1627Z" fill="white"/>
                <path d="M40.2701 33.1081L56.4863 16.8919L39.4593 0L28.108 0L44.9999 16.8919L28.7836 33.1081H40.2701Z" fill="white"/>
                <path d="M68.2428 33.1081L84.459 16.8919L67.5671 0L56.0806 0L72.9725 16.8919L56.7563 33.1081H68.2428Z" fill="white"/>
                <path d="M96.3551 33.1081L112.571 16.8919L95.5442 0L84.1929 0L101.085 16.8919L84.8686 33.1081H96.3551Z" fill="white"/>
                <path d="M124.732 33.1081L140.813 16.8919L123.922 0L112.57 0L129.462 16.8919L113.246 33.1081H124.732Z" fill="white"/>
                <path d="M152.704 33.1081L168.92 16.8919L152.028 0L140.542 0L157.433 16.8919L141.217 33.1081H152.704Z" fill="white"/>
                <path d="M180.812 33.1081L196.893 16.8919L180.001 0L168.649 0L185.541 16.8919L169.325 33.1081H180.812Z" fill="white"/>
                <path d="M208.785 33.1081L225.001 16.8919L208.109 0L196.623 0L213.514 16.8919L197.298 33.1081H208.785Z" fill="white"/>
            </svg>
            <h1 style="text-align: center; margin: 0px; font-family: BlenderProBook; color: white;" id="pointsh1">Points: 0</h1>
            <div class="playAreaKeBaapKaBaap">
                <div class="playAreaKaBaap">
                    <div class="playArea" id="playArea">
                        <div class="grid">
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                            <div class="row">
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                                <div class="box"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = function() {
            var gameOver = false;
            const coords = [[3, 19], [5, 19], [7, 19]]
            var points = 0
            const khaanaCoords = []
            var movingDirection = 'right'
            var pastDirection = 'start'
            var doable = true
            getBox(3, 19).style.backgroundColor = 'red'
            getBox(5, 19).style.backgroundColor = 'red'
            getBox(7, 19).style.backgroundColor = 'red'
            const gameInterval = window.setInterval(function() {
                if (gameOver) {
                    const xhttp = new XMLHttpRequest()
                    clearInterval(gameInterval)
                    alert("GAME OVER! You scored " + points + " points! So, you earned " + (points*2) + " coins!")
                    xhttp.open("POST", "/snake");
                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    xhttp.send("score=" + points);
                    window.location.href='/snake'
                }
                if (movingDirection == 'right') moveRight()
                if (movingDirection == 'left') moveLeft()
                if (movingDirection == 'up') moveUp()
                if (movingDirection == 'down') moveDown()
                for (let i = 0; i < khaanaCoords.length; i++) {
                    if (khaanaCoords[i][0] == coords[coords.length - 1][0] && khaanaCoords[i][1] == coords[coords.length - 1][1]) {
                        points += 1
                        document.getElementById('pointsh1').innerHTML = "Points: " + points
                        console.log('POINT BEHENCHOD')
                        if (movingDirection == 'right') coords.unshift([coords[0][0] - 2, khaanaCoords[i][1]])
                        if (movingDirection == 'left') coords.unshift([coords[0][0] + 2, khaanaCoords[i][1]])
                        if (movingDirection == 'up') coords.unshift([khaanaCoords[i][0], coords[i][1] + 2])
                        if (movingDirection == 'down') coords.unshift([khaanaCoords[i][0], coords[i][1] - 2])
                    }
                }
            }, 200)
            window.setInterval(function() {
                const randomX = Math.ceil(Math.random() * 30)
                const randomY = Math.ceil(Math.random() * 20)
                for (let i = 0; i < coords.length; i++) {
                    if (coords[i][0] == randomX && coords[i][1] == randomY) return;
                }
                getBox(randomX, randomY).style.backgroundColor = 'white'
                khaanaCoords.push([randomX, randomY])
            }, 4000)
            window.addEventListener('keyup', function(event) {
                if (event.keyCode == 37) {
                    if (movingDirection == 'right') {
                        return movingDirection = 'right'
                    }
                    if (movingDirection == 'left') {
                        return movingDirection == 'left'
                    }
                    pastDirection = movingDirection
                    movingDirection = 'left'
                }
                if (event.keyCode == 38) {
                    if (movingDirection == 'up') {
                        return movingDirection = 'up'
                    }
                    if (movingDirection == 'down') {
                        return movingDirection == 'down'
                    }
                    pastDirection = movingDirection
                    movingDirection = 'up'
                }
                if (event.keyCode == 39) {
                    if (movingDirection == 'right') {
                        return movingDirection = 'right'
                    }
                    if (movingDirection == 'left') {
                        return movingDirection == 'left'
                    }
                    pastDirection = movingDirection
                    movingDirection = 'right'
                }
                if (event.keyCode == 40) {
                    if (movingDirection == 'up') {
                        return movingDirection = 'up'
                    }
                    if (movingDirection == 'down') {
                        return movingDirection == 'down'
                    }
                    pastDirection = movingDirection
                    movingDirection = 'down'
                }
            })
            function moveRight() {
                try {
                    if (pastDirection == 'up') {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length - 1][1]]
                        if (mainCoords[0] >= 30) {
                            gameOver = true;
                        };
                        for (let i = 0; i < coords.length; i++) {
                            if (mainCoords[1] == coords[i][1]) {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0] + 1, coords[i][1]).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0] + 1, coords[i][1]]
                            } else {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0], coords[i][1] - 1).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0], coords[i][1] - 1]
                            }
                        }
                    } else if (pastDirection == 'down') {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length - 1][1]]
                        if (mainCoords[0] >= 30) {
                            gameOver = true;
                        };
                        for (let i = 0; i < coords.length; i++) {
                            if (mainCoords[1] == coords[i][1]) {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0] + 1, coords[i][1]).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0] + 1, coords[i][1]]
                            } else {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0], coords[i][1] + 1).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0], coords[i][1] + 1]
                            }
                        }
                    } else {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length - 1][1]]
                        if (mainCoords[0] >= 30) {
                            gameOver = true;
                        };
                        for (let i = 0; i < coords.length; i++) {
                            getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                            getBox(coords[i][0] + 1, coords[i][1]).style.backgroundColor = 'red'
                            coords[i] = [coords[i][0] + 1, coords[i][1]]
                        }
                    }
                } catch (err) {
                    gameOver = true
                }
            }
            function moveDown() {
                try {
                    
                    if (pastDirection == 'right') {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length-1][1]]
                        if (mainCoords[1] >= 20) {
                            gameOver = true;
                        };
                        console.log(mainCoords)
                        for (let i = 0; i < coords.length; i++) {
                            if (mainCoords[0] == coords[i][0]) {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0], coords[i][1] + 1).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0], coords[i][1] + 1]
                            } else {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0] + 1, coords[i][1]).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0] + 1, coords[i][1]]
                            }
                        }
                    } else if (pastDirection == 'left') {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length-1][1]]
                        if (mainCoords[1] >= 20) {
                            gameOver = true;
                        };
                        console.log(mainCoords)
                        for (let i = 0; i < coords.length; i++) {
                            if (mainCoords[0] == coords[i][0]) {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0], coords[i][1] + 1).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0], coords[i][1] + 1]
                            } else {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0] - 1, coords[i][1]).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0] - 1, coords[i][1]]
                            }
                        }
                    } else {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length - 1][1]]
                        if (mainCoords[1] >= 20) {
                            gameOver = true;
                        };
                        for (let i = 0; i < coords.length; i++) {
                            getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                            getBox(coords[i][0], coords[i][1] + 1).style.backgroundColor = 'red'
                            coords[i] = [coords[i][0], coords[i][1] + 1]
                        }
                    }
                } catch (error) {
                    gameOver = true
                }
            }
            function moveUp() {
                try {
                    
                    if (pastDirection == 'right') {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length-1][1]]
                        if (mainCoords[1] <= 1) {
                            gameOver = true;
                        };
                        console.log(mainCoords)
                        for (let i = 0; i < coords.length; i++) {
                            console.log("Main Coords", mainCoords[1])
                            console.log("coords i", coords[i])
                            if (mainCoords[0] == coords[i][0]) {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0], coords[i][1] - 1).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0], coords[i][1] -1]
                            } else {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0] + 1, coords[i][1]).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0] + 1, coords[i][1]]
                            }
                        }
                    } else if (pastDirection == 'left') {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length-1][1]]
                        if (mainCoords[1] <= 1) {
                            gameOver = true;
                        };
                        console.log(mainCoords)
                        for (let i = 0; i < coords.length; i++) {
                            if (mainCoords[0] == coords[i][0]) {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0], coords[i][1] - 1).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0], coords[i][1] - 1]
                            } else {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0] - 1, coords[i][1]).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0] - 1, coords[i][1]]
                            }
                        }
                    } else {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length - 1][1]]
                        if (mainCoords[1] <= 1) {
                            gameOver = true;
                        };
                        for (let i = 0; i < coords.length; i++) {
                            getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                            getBox(coords[i][0], coords[i][1] - 1).style.backgroundColor = 'red'
                            coords[i] = [coords[i][0], coords[i][1] -1]
                        }
                    }
                    
                } catch (error) {
                    gameOver = true
                }
            }
            function moveLeft() {
                try {
                    if (pastDirection == 'up') {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length - 1][1]]
                        if (mainCoords[0] <= 1) {
                            gameOver = true;
                        };
                        for (let i = 0; i < coords.length; i++) {
                            if (mainCoords[1] == coords[i][1]) {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0] - 1, coords[i][1]).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0] - 1, coords[i][1]]
                            } else {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0], coords[i][1] - 1).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0], coords[i][1] - 1]
                            }
                        }
                    } else if (pastDirection == 'down') {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length - 1][1]]
                        if (mainCoords[0] <= 1) {
                            gameOver = true;
                        };
                        for (let i = 0; i < coords.length; i++) {
                            if (mainCoords[1] == coords[i][1]) {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0] - 1, coords[i][1]).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0] - 1, coords[i][1]]
                            } else {
                                getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                                getBox(coords[i][0], coords[i][1] + 1).style.backgroundColor = 'red'
                                coords[i] = [coords[i][0], coords[i][1] + 1]
                            }
                        }
                    } else {
                        mainCoords = [coords[coords.length - 1][0], coords[coords.length - 1][1]]
                        if (mainCoords[0] <= 1) {
                            gameOver = true;
                        };
                        for (let i = 0; i < coords.length; i++) {
                            getBox(coords[i][0], coords[i][1]).style.backgroundColor = 'inherit'
                            getBox(coords[i][0] - 1, coords[i][1]).style.backgroundColor = 'red'
                            coords[i] = [coords[i][0] - 1, coords[i][1]]
                        }
                    }
                } catch (error) {
                    gameOver = true
                }
                    
                }
        }
        function getBox(x, y) {
            const rows = document.getElementsByClassName('row')
            for (let i = 0; i < rows.length; i++) {
                const boxes = rows[i].children
                for (let j = 0; j < boxes.length; j++) {
                    if (i == y - 1 && j == x - 1) {
                        return boxes[j]
                    }
                }
            }
        }
        function getId(id) {
            return document.getElementById(id)
        }
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1) + min)
        }
    </script>
</body>
</html>